config BOARD_SUPERMICRO_BASEBOARD_X11SSH
	def_bool n
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select SOC_INTEL_KABYLAKE
	select SKYLAKE_SOC_PCH_H
	select MAINBOARD_HAS_LPC_TPM
	select DRIVERS_ASPEED_AST2050
	select SUPERIO_ASPEED_AST2400
	select GENERATE_SMBIOS_TABLES
	select IPMI_KCS

if BOARD_SUPERMICRO_BASEBOARD_X11SSH

config VBOOT
	select VBOOT_NO_BOARD_SUPPORT
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP

config VBOOT_SLOTS_RW_AB
	default y

config VBOOT_VBNV_OFFSET
	hex
	default 0x2a

config FMDFILE
	string
	default "src/mainboard/$(CONFIG_MAINBOARD_DIR)/vboot-ro-rwab.fmd" if VBOOT_SLOTS_RW_AB

config CBFS_SIZE
	hex
	default 0x009aa000 if !VBOOT

config IRQ_SLOT_COUNT
	int
	default 18

config MAINBOARD_DIR
	string
	default "supermicro/x11ssh"

config VARIANT_DIR
	string
	default "tf" if BOARD_SUPERMICRO_X11SSH_PLUS_TF

config DEVICETREE
	string
	default "variants/$(CONFIG_VARIANT_DIR)/devicetree.cb"

config MAINBOARD_PART_NUMBER
	string
	default "X11SSH-TF" if BOARD_SUPERMICRO_X11SSH_PLUS_TF

config MAX_CPUS
	int
	default 8

config SUBSYSTEM_VENDOR_ID
	hex
	default 0x8086

config CONSOLE_POST
	bool
	default y

config POST_DEVICE
	bool
	default n

config DIMM_SPD_SIZE
	int
	default 512

endif # BOARD_SUPERMICRO_BASEBOARD_X11SSH
