source src/northbridge/amd/amdk8/Kconfig
source src/northbridge/amd/gx1/Kconfig
source src/northbridge/amd/gx2/Kconfig
source src/northbridge/amd/amdfam10/Kconfig
source src/northbridge/amd/lx/Kconfig
source src/northbridge/amd/agesa/Kconfig
source src/northbridge/amd/cimx/Kconfig
menu "HyperTransport setup"
	#could be implemented for K8 (NORTHBRIDGE_AMD_AMDK8)
	depends on (NORTHBRIDGE_AMD_AMDFAM10) && EXPERT

choice
	prompt "HyperTransport frequency"
	default LIMIT_HT_SPEED_AUTO
	help
	  This option sets the maximum permissible HyperTransport link
	  frequency.

	  Use of this option will only limit the autodetected HT frequency.
	  It will not (and cannot) increase the frequency beyond the
	  autodetected limits.

	  This is primarily used to work around poorly designed or laid out
	  HT traces on certain motherboards.

config LIMIT_HT_SPEED_200
	bool "Limit HT frequency to 200MHz"
config LIMIT_HT_SPEED_300
	bool "Limit HT frequency to 300MHz"
config LIMIT_HT_SPEED_400
	bool "Limit HT frequency to 400MHz"
config LIMIT_HT_SPEED_500
	bool "Limit HT frequency to 500MHz"
config LIMIT_HT_SPEED_600
	bool "Limit HT frequency to 600MHz"
config LIMIT_HT_SPEED_800
	bool "Limit HT frequency to 800MHz"
config LIMIT_HT_SPEED_1000
	bool "Limit HT frequency to 1.0GHz"
config LIMIT_HT_SPEED_1200
	bool "Limit HT frequency to 1.2GHz"
config LIMIT_HT_SPEED_1400
	bool "Limit HT frequency to 1.4GHz"
config LIMIT_HT_SPEED_1600
	bool "Limit HT frequency to 1.6GHz"
config LIMIT_HT_SPEED_1800
	bool "Limit HT frequency to 1.8GHz"
config LIMIT_HT_SPEED_2000
	bool "Limit HT frequency to 2.0GHz"
config LIMIT_HT_SPEED_2200
	bool "Limit HT frequency to 2.2GHz"
config LIMIT_HT_SPEED_2400
	bool "Limit HT frequency to 2.4GHz"
config LIMIT_HT_SPEED_2600
	bool "Limit HT frequency to 2.6GHz"
config LIMIT_HT_SPEED_AUTO
	bool "Autodetect HT frequency"
endchoice

choice
	prompt "HyperTransport downlink width"
	default LIMIT_HT_DOWN_WIDTH_16
	help
	  This option sets the maximum permissible HyperTransport
	  downlink width.

	  Use of this option will only limit the autodetected HT width.
	  It will not (and cannot) increase the width beyond the autodetected
	  limits.

	  This is primarily used to work around poorly designed or laid out HT
	  traces on certain motherboards.

config LIMIT_HT_DOWN_WIDTH_8
	bool "8 bits"
config LIMIT_HT_DOWN_WIDTH_16
	bool "16 bits"
endchoice

choice
	prompt "HyperTransport uplink width"
	default LIMIT_HT_UP_WIDTH_16
	help
	  This option sets the maximum permissible HyperTransport
	  uplink width.

	  Use of this option will only limit the autodetected HT width.
	  It will not (and cannot) increase the width beyond the autodetected
	  limits.

	  This is primarily used to work around poorly designed or laid out HT
	  traces on certain motherboards.

config LIMIT_HT_UP_WIDTH_8
	bool "8 bits"
config LIMIT_HT_UP_WIDTH_16
	bool "16 bits"
endchoice

endmenu
