config BOARD_GOOGLE_REEF
	bool "Reef"
	select BOARD_GOOGLE_BASEBOARD_REEF
	select BASEBOARD_REEF_LAPTOP

config BOARD_GOOGLE_PYRO
	bool "Pyro"
	select BOARD_GOOGLE_BASEBOARD_REEF
	select BASEBOARD_REEF_LAPTOP

config BOARD_GOOGLE_SAND
	bool "Sand"
	select BOARD_GOOGLE_BASEBOARD_REEF
	select BASEBOARD_REEF_LAPTOP

config BOARD_GOOGLE_SNAPPY
	bool "Snappy"
	select BOARD_GOOGLE_BASEBOARD_REEF
	select BASEBOARD_REEF_LAPTOP

config BOARD_GOOGLE_NASHER
	bool "Nasher"
	select BOARD_GOOGLE_BASEBOARD_REEF
	select BASEBOARD_REEF_LAPTOP
