config NO_EDID_FILL_FB
	bool
	default y if !MAINBOARD_DO_NATIVE_VGA_INIT
	help
	  Don't include default fill_lb_framebuffer() implementation. Select
	  this if your drivers uses MAINBOARD_DO_NATIVE_VGA_INIT but provides
	  its own fill_lb_framebuffer() implementation.

config RAMSTAGE_ADA
	bool
	help
	  Selected by features that use Ada code in ramstage.

config RAMSTAGE_LIBHWBASE
	bool
	select RAMSTAGE_ADA
	help
	  Selected by features that require `libhwbase` in ramstage.

config FLATTENED_DEVICE_TREE
	bool
	help
	  Selected by features that require to parse and manipulate a flattened
	  devicetree in ramstage.

if RAMSTAGE_LIBHWBASE

config HWBASE_DYNAMIC_MMIO
	def_bool y

config HWBASE_DEFAULT_MMCONF
	hex
	default MMCONF_BASE_ADDRESS

config HWBASE_DIRECT_PCIDEV
	def_bool y

endif
