config SOC_INTEL_COMMON_BLOCK_SMBUS
	bool
	select SOUTHBRIDGE_INTEL_COMMON_SMBUS
	help
	  Intel Processor common SMBus support

config FIXED_SMBUS_IO_BASE
	default 0xefa0

config SOC_INTEL_COMMON_BLOCK_SMBUS_ACPI_DRIVER
	bool
	default n
	depends on SOC_INTEL_COMMON_BLOCK_SMBUS
	help
	  Intel Processor SMBus ACPI driver support

config SOC_INTEL_COMMON_BLOCK_TCO
	bool
	help
	  Intel Processor common TCO support

config SOC_INTEL_COMMON_BLOCK_TCO_ENABLE_THROUGH_SMBUS
	bool
	depends on SOC_INTEL_COMMON_BLOCK_TCO
	help
	  Select this config to enable TCO BAR through SMBUS
