if VENDOR_RCA

choice
	prompt "Mainboard model"

config BOARD_RCA_RM4100
	bool "RM4100"

endchoice

source "src/mainboard/rca/rm4100/Kconfig"

config MAINBOARD_VENDOR
	string
	default "RCA"

endif # VENDOR_RCA
