
config BOARD_GOOGLE_BASEBOARD_POPPY
	def_bool n
	select BOARD_ID_AUTO
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_INTEL_MIPI_CAMERA
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select DRIVERS_I2C_MAX98927
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_LPC
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_USES_FSP2_0
	select NO_FADT_8042
	select POPPY_USE_I2C_TPM
	select SOC_INTEL_KABYLAKE

if BOARD_GOOGLE_BASEBOARD_POPPY

config DEVICETREE
	string
	default "variants/soraka/devicetree.cb" if BOARD_GOOGLE_SORAKA
	default "variants/baseboard/devicetree.cb"

config DRIVER_TPM_I2C_BUS
	depends on POPPY_USE_I2C_TPM
	default 0x1

config DRIVER_TPM_I2C_ADDR
	depends on POPPY_USE_I2C_TPM
	default 0x50

config DRIVER_TPM_SPI_BUS
	depends on POPPY_USE_SPI_TPM
	default 0x1

config GBB_HWID
	string
	depends on CHROMEOS
	default "POPPY TEST 8294" if BOARD_GOOGLE_POPPY
	default "SORAKA TEST 1869" if BOARD_GOOGLE_SORAKA

config INCLUDE_NHLT_BLOBS
	bool "Include blobs for audio."
	select NHLT_DMIC_2CH
	select NHLT_DMIC_4CH
	select NHLT_MAX98927
	select NHLT_RT5663

config MAINBOARD_DIR
	string
	default "google/poppy"

config MAINBOARD_FAMILY
	string
	default "Google_Poppy" if BOARD_GOOGLE_POPPY
	default "Google_Soraka" if BOARD_GOOGLE_SORAKA

config MAINBOARD_PART_NUMBER
	string
	default "Poppy" if BOARD_GOOGLE_POPPY
	default "Soraka" if BOARD_GOOGLE_SORAKA

config MAX_CPUS
	int
	default 8

# Select this option to enable use of cr50 I2C TPM on poppy.
config POPPY_USE_I2C_TPM
	bool
	default n
	select I2C_TPM
	select MAINBOARD_HAS_I2C_TPM_CR50
	select TPM2

# Select this option to enable use of cr50 SPI TPM on poppy.
# This option is disabled by default.
config POPPY_USE_SPI_TPM
	bool
	default n
	select MAINBOARD_HAS_SPI_TPM_CR50
	select SPI_TPM
	select TPM2

config TPM_TIS_ACPI_INTERRUPT
	int
	default 64  # GPE0_DW2_00 (GPP_E0)

config VARIANT_DIR
	string
	default "poppy" if BOARD_GOOGLE_POPPY
	default "soraka" if BOARD_GOOGLE_SORAKA

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select HAS_RECOVERY_MRC_CACHE
	select MRC_CLEAR_NORMAL_CACHE_ON_RECOVERY_RETRAIN
	select VBOOT_LID_SWITCH

endif # BOARD_GOOGLE_BASEBOARD_POPPY
