config CPU_INTEL_SOCKET_M
	bool

if CPU_INTEL_SOCKET_M

config SOCKET_SPECIFIC_OPTIONS # dummy
	def_bool y
	select CPU_INTEL_MODEL_6EX
	select CPU_INTEL_MODEL_6FX
	select MMX
	select SSE

config DCACHE_RAM_BASE
	hex
	default 0xfefc0000

config DCACHE_RAM_SIZE
	hex
	default 0x8000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x2000

endif
