if VENDOR_DIGITALLOGIC

choice
	prompt "Mainboard model"

source "src/mainboard/digitallogic/*/Kconfig.name"

endchoice

source "src/mainboard/digitallogic/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "DIGITAL-LOGIC"

endif # VENDOR_DIGITALLOGIC
