config BOARD_MSI_MS9185
	bool "MS-9185 (K9SD Master-S2R)"
	select ARCH_X86
	select CPU_AMD_SOCKET_F
	select NORTHBRIDGE_AMD_AMDK8
	select NORTHBRIDGE_AMD_AMDK8_ROOT_COMPLEX
	select SOUTHBRIDGE_BROADCOM_BCM5780
	select SOUTHBRIDGE_BROADCOM_BCM5785
	select SUPERIO_NSC_PC87417
	select HAVE_BUS_CONFIG
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select USE_PRINTK_IN_CAR
	select USE_DCACHE_RAM
	select HAVE_HARD_RESET
	select LIFT_BSP_APIC_ID
	select BOARD_ROMSIZE_KB_512
	select SB_HT_CHAIN_UNITID_OFFSET_ONLY

config MAINBOARD_DIR
	string
	default msi/ms9185
	depends on BOARD_MSI_MS9185

config DCACHE_RAM_BASE
	hex
	default 0xcc000
	depends on BOARD_MSI_MS9185

config DCACHE_RAM_SIZE
	hex
	default 0x04000
	depends on BOARD_MSI_MS9185

config DCACHE_RAM_GLOBAL_VAR_SIZE
	hex
	default 0x01000
	depends on BOARD_MSI_MS9185

config APIC_ID_OFFSET
	hex
	default 0x8
	depends on BOARD_MSI_MS9185

config SB_HT_CHAIN_ON_BUS0
	int
	default 2
	depends on BOARD_MSI_MS9185

config LB_CKS_RANGE_END
	int
	default 122
	depends on BOARD_MSI_MS9185

config LB_CKS_LOC
	int
	default 123
	depends on BOARD_MSI_MS9185

config MAINBOARD_PART_NUMBER
	string
	default "MS-9185"
	depends on BOARD_MSI_MS9185

config HW_MEM_HOLE_SIZEK
	hex
	default 0x100000
	depends on BOARD_MSI_MS9185

config MAX_CPUS
	int
	default 4
	depends on BOARD_MSI_MS9185

config MAX_PHYSICAL_CPUS
	int
	default 2
	depends on BOARD_MSI_MS9185

config HT_CHAIN_END_UNITID_BASE
	hex
	default 0x1
	depends on BOARD_MSI_MS9185

config HT_CHAIN_UNITID_BASE
	hex
	default 0x6
	depends on BOARD_MSI_MS9185

config USE_INIT
	bool
	default n
	depends on BOARD_MSI_MS9185

config IRQ_SLOT_COUNT
	int
	default 11
	depends on BOARD_MSI_MS9185

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x1022
	depends on BOARD_MSI_MS9185

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x2b80
	depends on BOARD_MSI_MS9185

