
config BOARD_GOOGLE_BASEBOARD_SARIEN
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_GENERIC_BH720
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select DRIVERS_INTEL_ISH if BOARD_GOOGLE_ARCADA
	select DRIVERS_SPI_ACPI
	select DRIVERS_USB_ACPI
	select EC_GOOGLE_WILCO
	select GENERIC_SPD_BIN
	select GOOGLE_SMBIOS_MAINBOARD_VERSION
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_I2C_TPM_CR50
	select MAINBOARD_HAS_TPM2
	select SOC_INTEL_WHISKEYLAKE
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_COMMON_BLOCK_SMM_ESPI_DISABLE
	select SPD_READ_BY_WORD
	select SYSTEM_TYPE_LAPTOP if BOARD_GOOGLE_SARIEN
	select SYSTEM_TYPE_CONVERTIBLE if BOARD_GOOGLE_ARCADA
	select MAINBOARD_USES_IFD_EC_REGION
	select MAINBOARD_USES_IFD_GBE_REGION if BOARD_GOOGLE_SARIEN
	select USE_SAR
	select SAR_ENABLE

if BOARD_GOOGLE_BASEBOARD_SARIEN

config CHROMEOS
	bool
	default y
	select GBB_FLAG_FORCE_DEV_SWITCH_ON
	select GBB_FLAG_FORCE_DEV_BOOT_USB
	select GBB_FLAG_FORCE_DEV_BOOT_LEGACY
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC

config DIMM_MAX
	int
	default 2

config DIMM_SPD_SIZE
	int
	default 512

config DRIVER_TPM_I2C_BUS
	hex
	default 0x4

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x50

config TPM_TIS_ACPI_INTERRUPT
	int
	default 82  # GPE0_DW2_18 (GPP_D18)

config POWER_OFF_ON_CR50_UPDATE
	bool
	default n

config MAINBOARD_DIR
	string
	default "google/sarien"

config MAINBOARD_FAMILY
	string
	default "Google_Arcada" if BOARD_GOOGLE_ARCADA
	default "Google_Sarien" if BOARD_GOOGLE_SARIEN

config MAINBOARD_PART_NUMBER
	string
	default "Arcada" if BOARD_GOOGLE_ARCADA
	default "Sarien" if BOARD_GOOGLE_SARIEN

config MAX_CPUS
	int
	default 8

config UART_FOR_CONSOLE
	int
	default 2

config VARIANT_DIR
	string
	default "arcada" if BOARD_GOOGLE_ARCADA
	default "sarien" if BOARD_GOOGLE_SARIEN

config DEVICETREE
	string
	default "variants/\$(CONFIG_VARIANT_DIR)/devicetree.cb"

config VBOOT
	select HAS_RECOVERY_MRC_CACHE
	select MRC_CLEAR_NORMAL_CACHE_ON_RECOVERY_RETRAIN
	select VBOOT_LID_SWITCH

endif # BOARD_GOOGLE_BASEBOARD_SARIEN
