config SOC_AMD_COMMON
	bool
	help
	  common code blocks for AMD SOCs

if SOC_AMD_COMMON

source "src/soc/amd/common/block/*/Kconfig"
source "src/soc/amd/common/fsp/Kconfig"
source "src/soc/amd/common/pi/Kconfig"

endif # SOC_AMD_COMMON
