config SOC_MARVELL_ARMADA38X
	bool
	default n
	select ARCH_BOOTBLOCK_ARMV7
	select ARCH_VERSTAGE_ARMV7
	select ARCH_ROMSTAGE_ARMV7
	select ARCH_RAMSTAGE_ARMV7
	select HAVE_UART_SPECIAL
	select BOOTBLOCK_CONSOLE
	select BOOTBLOCK_CUSTOM
	select GENERIC_UDELAY
	select UART_OVERRIDE_REFCLK

if SOC_MARVELL_ARMADA38X

config VBOOT
	select VBOOT_RETURN_FROM_VERSTAGE

config BOOTBLOCK_CPU_INIT
	string
	default "soc/marvell/armada38x/bootblock.c"
	help
	  CPU/SoC-specific bootblock code. This is useful if the
	  bootblock must load microcode or copy data from ROM before
	  searching for the bootblock.

config CONSOLE_SERIAL_UART_ADDRESS
	hex
	default 0xf1012000
endif
