if VENDOR_IWAVE

choice
	prompt "Mainboard model"
	depends on VENDOR_IWAVE

source "src/mainboard/iwave/*/Kconfig.name"

endchoice

source "src/mainboard/iwave/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "iWave"

endif # VENDOR_IWAVE
