config BOARD_DELL_SNB_IVB_WORKSTATIONS
	def_bool n
	select BOARD_ROMSIZE_KB_12288
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_INT15
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select USE_NATIVE_RAMINIT
	select MEMORY_MAPPED_TPM
	select MAINBOARD_HAS_TPM1
	select MAINBOARD_USES_IFD_GBE_REGION
	select SUPERIO_SMSC_SCH5545
	select MAINBOARD_HAS_LIBGFXINIT
	select INTEL_GMA_HAVE_VBT
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select PCIEXP_L1_SUB_STATE
	select DRIVERS_UART_8250IO

if BOARD_DELL_SNB_IVB_WORKSTATIONS

config MAINBOARD_DIR
	default "dell/snb_ivb_workstations"

config MAINBOARD_PART_NUMBER
	default "OptiPlex 9010" if BOARD_DELL_OPTIPLEX_9010
	default "Precision T1650" if BOARD_DELL_PRECISION_T1650

config VARIANT_DIR
	default "optiplex_9010_sff" if BOARD_DELL_OPTIPLEX_9010
	default "precision_t1650" if BOARD_DELL_PRECISION_T1650

config DEVICETREE
	default "variants/baseboard/devicetree.cb"

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config DRAM_RESET_GATE_GPIO
	int
	default 60

config USBDEBUG_HCD_INDEX
	int
	default 2

config CBFS_SIZE
	default 0x600000

config INCLUDE_SMSC_SCH5545_EC_FW
	bool "Include SMSC SCH5545 EC firmware binary"
	default n
	help
	  This option allows to add the SMSC SCH5545 Environmental Controller
	  firmware binary. The firmware must be loaded after each power failure
	  in order to properly initialize the fan control, because EC loses its
	  configuration when power is cut off. Otherwise the fans will keep
	  running at full speed after power failure.

config SMSC_SCH5545_EC_FW_FILE
	string "File path to the SMSC SCH5545 EC firmware binary"
	depends on INCLUDE_SMSC_SCH5545_EC_FW

endif
