config BOARD_INTEL_BASEBOARD_GLKRVP
	def_bool n
	select SOC_INTEL_GEMINILAKE
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MEMORY_MAPPED_TPM
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_DA7219
	select SOC_ESPI

if BOARD_INTEL_BASEBOARD_GLKRVP

config BASEBOARD_GLKRVP_LAPTOP
	def_bool n
	select SYSTEM_TYPE_LAPTOP

choice
	prompt "ON BOARD EC"
	default GLK_CHROME_EC
	help
	  This option allows you to select the on board EC to use.
	  Select whether the board  has Intel EC or Chrome EC

config GLK_CHROME_EC
	bool "Chrome EC"
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_ESPI

config GLK_INTEL_EC
	bool "Intel EC"
	select EC_ACPI
endchoice

config CHROMEOS
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select VBOOT_LID_SWITCH if GLK_CHROME_EC

config VBOOT
	select HAS_RECOVERY_MRC_CACHE
	select EC_GOOGLE_CHROMEEC_SWITCHES if GLK_CHROME_EC

config MAINBOARD_DIR
	default "intel/glkrvp"

config VARIANT_DIR
	default "glkrvp" if BOARD_INTEL_GLKRVP

config DEVICETREE
	default "variants/baseboard/devicetree.cb"

config MAINBOARD_PART_NUMBER
	default "glkrvp" if BOARD_INTEL_GLKRVP

config MAINBOARD_FAMILY
	string
	default "Intel_Glkrvp" if BOARD_INTEL_GLKRVP

config UART_FOR_CONSOLE
	int
	default 2

config INCLUDE_NHLT_BLOBS
	bool "Include blobs for audio."
	select NHLT_DMIC_4CH_16B
	select NHLT_DA7219
	select NHLT_MAX98357

config IS_GLK_RVP_1
	bool "Is this RVP1?"
	default n

config SOC_INTEL_COMMON_BLOCK_SGX_ENABLE
	bool
	default y

endif # BOARD_INTEL_GLKRVP
