# PSP fw config file

# TODO: Check if this is still correct

FIRMWARE_LOCATION          3rdparty/amd_blobs/sabrina/PSP

# type                       file
# PSP
AMD_PUBKEY_FILE            TypeId0x00_SabrinaPublicKey.tkn
PSPBTLDR_FILE              TypeId0x01_PspBootLoader_SBR.sbin
PSPBTLDR_WL_FILE           TypeId0x01_PspBootLoader_WL_SBR.sbin
PSPSECUREOS_FILE           TypeId0x02_PspOS_SBR.sbin
PSPRCVR_FILE               TypeId0x03_PspRecoveryBootLoader_SBR.sbin
PSP_SMUFW1_SUB0_FILE       TypeId0x08_SmuFirmware_SBR.csbin
PSPSECUREDEBUG_FILE        TypeId0x09_SecureDebugUnlockKey_SBR.stkn
PSPTRUSTLETS_FILE          TypeId0x0C_FtpmDrv_SBR.csbin
PSP_SMUFW2_SUB0_FILE       TypeId0x12_SmuFirmware2_SBR.csbin
PSP_SEC_DEBUG_FILE         TypeId0x13_PspEarlyUnlock_SBR.sbin
PSP_HW_IPCFG_FILE          TypeId0x20_HwIpCfg_SBR_A0.sbin
PSP_IKEK_FILE              TypeId0x21_PspIkek_SBR.bin
PSP_SECG0_FILE             TypeId0x24_SecurePolicyL0_SBR.sbin
PSP_MP2FW0_FILE            TypeId0x25_Mp2Fw_SBR.sbin
AMD_DRIVER_ENTRIES         TypeId0x28_PspSystemDriver_SBR.sbin
PSP_KVM_ENGINE_DUMMY_FILE  TypeId0x29_KvmEngineDummy.csbin
PSP_S0I3_FILE              TypeId0x2D_AgesaRunTimeDrv_SBR.sbin
PSP_ABL0_FILE              TypeId0x30_AgesaBootloaderU_SBR_LPDDR4.csbin
VBIOS_BTLOADER_FILE        TypeId0x3C_VbiosBootLoader_SBR.sbin
SECURE_POLICY_L1_FILE      TypeId0x45_SecurePolicyL1_SBR.sbin
UNIFIEDUSB_FILE            TypeId0x44_UnifiedUsb_SBR.sbin
DRTMTA_FILE                TypeId0x47_DrtmTA_SBR.sbin
KEYDBBL_FILE               TypeId0x50_KeyDbBl_SBR.sbin
KEYDB_TOS_FILE             TypeId0x51_KeyDbTos_SBR.sbin
SPL_TABLE_FILE             TypeId0x55_SplTableBl_SBR.sbin
DMCUERAMDCN21_FILE         TypeId0x58_DmcuEramDcn21.sbin
DMCUINTVECTORSDCN21_FILE   TypeId0x59_DmcuIntvectorsDcn21.sbin
PSPBTLDR_AB_FILE           TypeId0x73_PspBootLoader_AB_SBR.sbin

# BDT
PSP_PMUI_FILE_SUB0_INS1    TypeId0x64_Appb_SBR_1D_Lpddr4_Imem.csbin
PSP_PMUD_FILE_SUB0_INS1    TypeId0x65_Appb_SBR_1D_Lpddr4_Dmem.csbin
PSP_PMUI_FILE_SUB0_INS2    TypeId0x64_Appb_SBR_2D_Lpddr4_Imem.csbin
PSP_PMUD_FILE_SUB0_INS2    TypeId0x65_Appb_SBR_2D_Lpddr4_Dmem.csbin
PSP_MP2CFG_FILE            MP2FWConfig.sbin
