comment "Octopus"

config BOARD_GOOGLE_OCTOPUS
	bool "->  Octopus"
	select BOARD_GOOGLE_BASEBOARD_OCTOPUS
	select BASEBOARD_OCTOPUS_LAPTOP
config BOARD_GOOGLE_YORP
	bool "->  Yorp"
	select BOARD_GOOGLE_BASEBOARD_OCTOPUS
	select BASEBOARD_OCTOPUS_LAPTOP
	select NHLT_DA7219 if INCLUDE_NHLT_BLOBS
config BOARD_GOOGLE_BIP
	bool "->  Bip"
	select BOARD_GOOGLE_BASEBOARD_OCTOPUS
	select BASEBOARD_OCTOPUS_LAPTOP
	select NHLT_RT5682 if INCLUDE_NHLT_BLOBS
config BOARD_GOOGLE_PHASER
	bool "->  Phaser"
	select BOARD_GOOGLE_BASEBOARD_OCTOPUS
	select BASEBOARD_OCTOPUS_LAPTOP
	select NHLT_DA7219 if INCLUDE_NHLT_BLOBS
config BOARD_GOOGLE_FLEEX
	bool "->  Fleex"
	select BOARD_GOOGLE_BASEBOARD_OCTOPUS
	select BASEBOARD_OCTOPUS_LAPTOP
	select NHLT_DA7219 if INCLUDE_NHLT_BLOBS
