# This will make a target directory of ./winfast
# Note that this is RELATIVE TO WHERE YOU ARE WHEN YOU RUN THE 
# CONFIG TOOL. Make it absolute if you like
target clearwater-primary

# Leadtek WinFast 6300 MAX mainboard
mainboard intel/Clearwater

# Enable Serial Console for debugging
# It will come up at 115200,8n1
option SERIAL_CONSOLE=1

# Enable MicroCode update and L2 Cache init for PII and PIII
option UPDATE_MICROCODE=1
#option CONFIGURE_L2_CACHE=1

# Use the internal VGA frame buffer device
#option HAVE_FRAMEBUFFER=1

option USE_ELF_BOOT=1

option USE_GENERIC_ROM=1

option STD_FLASH=1

option USE_FALLBACK_IMAGE = 0

option HAVE_PIRQ_TABLE=1

option DEFAULT_CONSOLE_LOGLEVEL=8

payload /usr/local/src/LinuxBIOS/etherboot-5.0.6/src/bin32/eepro100.elf 

# Path to your kernel (vmlinux)
# NOTE; you need a path to your test12 kernel here. 
#linux /usr/src/linux-2.2.17-beoboot-pyro1
#linux /usr/src/linux-2.4.0-test12

# Kernel command line parameters
#commandline root=/dev/nftla1

# We're using disk on chip. Tell it where to find the docipl code
#docipl northsouthbridge/sis/630/ipl.S
