## SPDX-License-Identifier: GPL-2.0-only

if BOARD_MSI_MS7707

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select USE_NATIVE_RAMINIT
	select SOUTHBRIDGE_INTEL_BD82X6X
	select SUPERIO_FINTEK_F71808A
	select BOARD_ROMSIZE_KB_4096
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select MAINBOARD_USES_IFD_GBE_REGION
	select NO_UART_ON_SUPERIO
	select SERIRQ_CONTINUOUS_MODE

config MAINBOARD_DIR
	default "msi/ms7707"

config MAINBOARD_PART_NUMBER
	default "MS-7707"

config DRAM_RESET_GATE_GPIO
	int
	default 60

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2

config CBFS_SIZE
	default 0x200000

endif
