if BOARD_GOOGLE_EVE

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select DRIVERS_I2C_MAX98927
	select DRIVERS_I2C_RT5663
	select DRIVERS_SPI_ACPI
	select DRIVERS_USB_ACPI
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_BOARDID
	select EC_GOOGLE_CHROMEEC_ESPI
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_I2C_TPM_CR50
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_HAS_TPM2
	select SOC_INTEL_KABYLAKE
	select SYSTEM_TYPE_CONVERTIBLE
	select HAVE_SPD_IN_CBFS

config DISABLE_HECI1_AT_PRE_BOOT
	default y

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select HAS_RECOVERY_MRC_CACHE
	select VBOOT_LID_SWITCH

config CHROMEOS
	select DSAR_ENABLE
	select SAR_ENABLE
	select USE_SAR

config DRIVER_TPM_I2C_BUS
	hex
	default 0x1

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x50

config TPM_TIS_ACPI_INTERRUPT
	int
	default 64  # GPE0_DW2_00 (GPP_E0)

config MAINBOARD_DIR
	default "google/eve"

config MAINBOARD_PART_NUMBER
	default "Eve"

config MAINBOARD_FAMILY
	string
	default "Google_Eve"

config INCLUDE_NHLT_BLOBS
	bool "Include blobs for audio."
	select NHLT_RT5514
	select NHLT_RT5663
	select NHLT_MAX98927

config UART_FOR_CONSOLE
	int
	default 2

config USE_PM_ACPI_TIMER
	default n
endif
