choice
	prompt "Board model"
	depends on VENDOR_EMULATION

config BOARD_EMULATION_QEMU_X86
	bool "x86 QEMU"
	select ARCH_X86
	select CAR_TYPE_I586
	help
	  x86 QEMU variant.

config BOARD_EMULATION_QEMU_POWERPC
	bool "PowerPC QEMU"
	select ARCH_POWERPC
	help
	  PowerPC QEMU variant.

endchoice

source "mainboard/emulation/qemu-x86/Kconfig"

