if BOARD_GOOGLE_BUTTERFLY

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select SYSTEM_TYPE_LAPTOP
	select CPU_INTEL_SOCKET_RPGA989
	select NORTHBRIDGE_INTEL_IVYBRIDGE
	select SOUTHBRIDGE_INTEL_C216
	select EC_QUANTA_ENE_KB3940Q
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_ACPI_RESUME
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_LPC_TPM
	select MAINBOARD_HAS_TPM1
	select INTEL_INT15
	select SERIRQ_CONTINUOUS_MODE	# Workaround for EC/KBC IRQ1.
	select HAVE_IFD_BIN
	select HAVE_ME_BIN

config VBOOT
	select VBOOT_VBNV_CMOS

config MAINBOARD_DIR
	string
	default google/butterfly

config MAINBOARD_PART_NUMBER
	string
	default "Butterfly"

config MAX_CPUS
	int
	default 8

config VGA_BIOS_FILE
	string
	default "pci8086,0106.rom"

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x1ae0

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0xc000

config MAINBOARD_VENDOR
	string
	default "Hewlett-Packard"

endif # BOARD_GOOGLE_BUTTERFLY
