if BOARD_SIEMENS_MC_BDX1

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_INTEL_FSP_BROADWELL_DE
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select TSC_MONOTONIC_TIMER
	select HAVE_FSP_BIN if FSP_PACKAGE_DEFAULT
	select CBFS_AUTOGEN_ATTRIBUTES
	select USE_SIEMENS_HWILIB
	select DRIVER_INTEL_I210
	select DRIVER_SIEMENS_NC_FPGA
	select DRIVERS_I2C_RX6110SA
	select DRIVERS_I2C_PCA9538

config MAINBOARD_DIR
	string
	default "siemens/mc_bdx1"

config MAINBOARD_PART_NUMBER
	string
	default "MC BDX1"

config IRQ_SLOT_COUNT
	int
	default 18

config CBFS_SIZE
	hex
	default 0x00D00000

config VIRTUAL_ROM_SIZE
	hex
	default 0x1000000

config INTEGRATED_UART
	bool
	default n

config DRIVERS_UART_8250IO
	def_bool y

config FSP_PACKAGE_DEFAULT
	bool "Configure defaults for the Intel FSP package"
	default n

endif # BOARD_SIEMENS_MC_BDX1
