if VENDOR_LIPPERT

comment "was acquired by ADLINK"

choice
	prompt "Mainboard model"

source "src/mainboard/lippert/*/Kconfig.name"

endchoice

source "src/mainboard/lippert/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "LiPPERT"

endif # VENDOR_LIPPERT
