if VENDOR_LIPPERT

comment "was acquired by ADLINK"

choice
	prompt "Mainboard model"

config BOARD_LIPPERT_FRONTRUNNER
	bool "Cool FrontRunner"
config BOARD_LIPPERT_FRONTRUNNER_AF
	bool "FrontRunner-AF aka ADLINK CoreModule2-GF"
config BOARD_LIPPERT_HURRICANE_LX
	bool "Hurricane-LX"
config BOARD_LIPPERT_LITERUNNER_LX
	bool "Cool LiteRunner-LX"
config BOARD_LIPPERT_ROADRUNNER_LX
	bool "Cool RoadRunner-LX"
config BOARD_LIPPERT_SPACERUNNER_LX
	bool "Cool SpaceRunner-LX"
config BOARD_LIPPERT_TOUCAN_AF
	bool "Toucan-AF aka cExpress-GFR (+W83627DHG SIO)"

endchoice

source "src/mainboard/lippert/frontrunner/Kconfig"
source "src/mainboard/lippert/frontrunner-af/Kconfig"
source "src/mainboard/lippert/hurricane-lx/Kconfig"
source "src/mainboard/lippert/literunner-lx/Kconfig"
source "src/mainboard/lippert/roadrunner-lx/Kconfig"
source "src/mainboard/lippert/spacerunner-lx/Kconfig"
source "src/mainboard/lippert/toucan-af/Kconfig"

config MAINBOARD_VENDOR
	string
	default "LiPPERT"

endif # VENDOR_LIPPERT
