if VENDOR_LIPPERT

choice
	prompt "Mainboard model"

config BOARD_LIPPERT_FRONTRUNNER
	bool "Cool Frontrunner"
config BOARD_LIPPERT_ROADRUNNER_LX
	bool "Cool RoadRunner-LX"
config BOARD_LIPPERT_SPACERUNNER_LX
	bool "Cool SpaceRunner-LX"

endchoice

source "src/mainboard/lippert/frontrunner/Kconfig"
source "src/mainboard/lippert/roadrunner-lx/Kconfig"
source "src/mainboard/lippert/spacerunner-lx/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Lippert"

endif # VENDOR_LIPPERT
