## SPDX-License-Identifier: GPL-2.0-only

comment "Trogdor"

config BOARD_GOOGLE_BUBS
	bool "->  Bubs"

config BOARD_GOOGLE_COACHZ
	bool "->  Coachz (HP Chromebook x2 11-da0)"

config BOARD_GOOGLE_GELARSHIE
	bool "->  Gelarshie"

config BOARD_GOOGLE_HOMESTAR
	bool "->  Homestar"

config BOARD_GOOGLE_KINGOFTOWN
	bool "->  Kingoftown"

config BOARD_GOOGLE_LAZOR
	bool "->  Lazor (Acer Chromebook Spin 513, CP513-1H/1HL, R841T/LT)"

config BOARD_GOOGLE_MARZIPAN
	bool "->  Marzipan"

config BOARD_GOOGLE_MRBLAND
	bool "->  Mrbland"

config BOARD_GOOGLE_PAZQUEL
	bool "->  Pazquel"

config BOARD_GOOGLE_POMPOM
	bool "->  Pompom"

config BOARD_GOOGLE_QUACKINGSTICK
	bool "->  Quackingstick (Acer Chromebook Tab 510 / Enterprise Tab 510)"

config BOARD_GOOGLE_WORMDINGLER
	bool "->  Wormdingler"

config BOARD_GOOGLE_TROGDOR
	bool "->  Trogdor"
