comment "Trogdor"

config BOARD_GOOGLE_BUBS
	bool "Bubs"
	select BOARD_GOOGLE_TROGDOR_COMMON

config BOARD_GOOGLE_COACHZ
	bool "Coachz"
	select BOARD_GOOGLE_TROGDOR_COMMON

config BOARD_GOOGLE_LAZOR
	bool "Lazor"
	select BOARD_GOOGLE_TROGDOR_COMMON

config BOARD_GOOGLE_POMPOM
	bool "Pompom"
	select BOARD_GOOGLE_TROGDOR_COMMON

config BOARD_GOOGLE_TROGDOR
	bool "Trogdor"
	select BOARD_GOOGLE_TROGDOR_COMMON
