comment "Volteer"

config BOARD_GOOGLE_DELBIN
	bool "->  Delbin (ASUS Chromebook Flip CX5)"

config BOARD_GOOGLE_ELDRID
	bool "->  Eldrid"

config BOARD_GOOGLE_HALVOR
	bool "->  Halvor"

config BOARD_GOOGLE_LINDAR
	bool "->  Lindar"

config BOARD_GOOGLE_MALEFOR
	bool "->  Malefor"

config BOARD_GOOGLE_TERRADOR
	bool "->  Terrador"

config BOARD_GOOGLE_TODOR
	bool "->  Todor"

config BOARD_GOOGLE_TRONDO
	bool "->  Trondo"

config BOARD_GOOGLE_VOLTEER
	bool "->  Volteer"

config BOARD_GOOGLE_VOLTEER2
	bool "->  Volteer2"

# Reworked Volteer2 prototype, Haven chip replaced with Dauntless demo board
config BOARD_GOOGLE_VOLTEER2_TI50
	bool "->  Volteer2_Ti50"

config BOARD_GOOGLE_VOXEL
	bool "->  Voxel (Acer Chromebook Spin 713 (CP713-3W))"

config BOARD_GOOGLE_ELEMI
	bool "->  Elemi (HP Pro c640 G2 Chromebook)"

config BOARD_GOOGLE_VOEMA
	bool "->  Voema"

config BOARD_GOOGLE_DROBIT
	bool "->  Drobit (ASUS Chromebook CX9400)"

config BOARD_GOOGLE_COPANO
	bool "->  Copano (ASUS Chromebook Flip CX5400)"

config BOARD_GOOGLE_COLLIS
	bool "->  Collis"

config BOARD_GOOGLE_VOLET
	bool "->  Volet"

config BOARD_GOOGLE_CHRONICLER
	bool "->  Chronicler"
