## SPDX-License-Identifier: GPL-2.0-or-later

if BOARD_OCP_TIOGAPASS

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select HAVE_ACPI_TABLES
	select IPMI_KCS
	select IPMI_KCS_ROMSTAGE
	select IPMI_OCP
	select MAINBOARD_USES_FSP2_0
	select OCP_DMI
	select SOC_INTEL_SKYLAKE_SP
	select SUPERIO_ASPEED_AST2400
	select UART_OVERRIDE_BAUDRATE
	select VPD

config MAINBOARD_DIR
	default "ocp/tiogapass"

config MAINBOARD_PART_NUMBER
	default "TiogaPass"

config MAINBOARD_FAMILY
	string
	default "TiogaPass"

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

config UART_FOR_CONSOLE
	int
	default 1

config TTYS0_BAUD
	default 57600

endif # BOARD_OCP_TIOGAPASS
