config DRIVERS_ASPEED_AST_COMMON
	bool
	select HAVE_LINEAR_FRAMEBUFFER if MAINBOARD_DO_NATIVE_VGA_INIT
	select HAVE_VGA_TEXT_FRAMEBUFFER if MAINBOARD_DO_NATIVE_VGA_INIT
	select VGA if VGA_TEXT_FRAMEBUFFER
	select SOFTWARE_I2C if GENERIC_LINEAR_FRAMEBUFFER
