BasedOnStyle:					LLVM
Language:					Cpp
IndentWidth:					8
UseTab:						Always
BreakBeforeBraces:				Linux
AllowShortIfStatementsOnASingleLine:		false
IndentCaseLabels:				false
SortIncludes:					false
ContinuationIndentWidth:			8
ColumnLimit:					0
AlwaysBreakBeforeMultilineStrings:		true
AllowShortLoopsOnASingleLine:			false
AllowShortFunctionsOnASingleLine:		false
AlignEscapedNewlinesLeft:			false
AlignTrailingComments:				true
AllowAllParametersOfDeclarationOnNextLine:	false
AlignAfterOpenBracket:				true
SpaceAfterCStyleCast:				false
MaxEmptyLinesToKeep:				2
BreakBeforeBinaryOperators:			NonAssignment
BreakStringLiterals:				false
