[submodule "3rdparty/blobs"]
	path = 3rdparty/blobs
	url = ../blobs.git
	update = none
	ignore = dirty
[submodule "util/nvidia-cbootimage"]
	path = util/nvidia/cbootimage
	url = ../nvidia-cbootimage.git
[submodule "vboot"]
	path = 3rdparty/vboot
	url = ../vboot.git
	branch = main
[submodule "arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = ../arm-trusted-firmware.git
[submodule "3rdparty/chromeec"]
	path = 3rdparty/chromeec
	url = ../chrome-ec.git
[submodule "libhwbase"]
	path = 3rdparty/libhwbase
	url = ../libhwbase.git
[submodule "libgfxinit"]
	path = 3rdparty/libgfxinit
	url = ../libgfxinit.git
[submodule "3rdparty/fsp"]
	path = 3rdparty/fsp
	url = ../fsp.git
	update = none
	ignore = dirty
[submodule "opensbi"]
	path = 3rdparty/opensbi
	url = ../opensbi.git
[submodule "intel-microcode"]
	path = 3rdparty/intel-microcode
	url = ../intel-microcode.git
	update = none
	ignore = dirty
	branch = main
[submodule "3rdparty/ffs"]
	path = 3rdparty/ffs
	url = ../ffs.git
[submodule "3rdparty/amd_blobs"]
	path = 3rdparty/amd_blobs
	url = ../amd_blobs
	update = none
	ignore = dirty
[submodule "3rdparty/cmocka"]
	path = 3rdparty/cmocka
	url = ../cmocka.git
	update = none
	branch = stable-1.1
[submodule "3rdparty/qc_blobs"]
	path = 3rdparty/qc_blobs
	url = ../qc_blobs.git
	update = none
	ignore = dirty
[submodule "3rdparty/intel-sec-tools"]
	path = 3rdparty/intel-sec-tools
	url = ../9esec-security-tooling.git
[submodule "3rdparty/stm"]
	path = 3rdparty/stm
	url = ../STM
	branch = stmpe
