.config
.config.old
.xcompile
build/
coreboot-builds/
payloads/external/FILO/filo/
payloads/external/SeaBIOS/seabios/
util/crossgcc/tarballs/
util/crossgcc/xgcc/
*.o
*.elf
*.debug
*.out
*.\#
*.swp
*.bin
util/ectool/ectool
util/inteltool/.dependencies
util/inteltool/inteltool
util/msrtool/Makefile
util/msrtool/Makefile.deps
util/msrtool/msrtool
util/nvramtool/.dependencies
util/nvramtool/nvramtool
util/superiotool/superiotool
