.config
.config.old
.xcompile
build/
coreboot-builds/
payloads/external/FILO/filo/
payloads/external/SeaBIOS/seabios/
util/crossgcc/acpica-unix-*/
util/crossgcc/binutils-*/
util/crossgcc/build-binutils/
util/crossgcc/build-expat/
util/crossgcc/build-gcc/
util/crossgcc/build-gdb/
util/crossgcc/build-gmp/
util/crossgcc/build-libelf/
util/crossgcc/build-mpc/
util/crossgcc/build-mpfr/
util/crossgcc/build-python/
util/crossgcc/expat-*/
util/crossgcc/gcc-*/
util/crossgcc/gdb-*/
util/crossgcc/gmp-*/
util/crossgcc/libelf-*/
util/crossgcc/mingwrt-*/
util/crossgcc/mpc-*/
util/crossgcc/mpfr-*/
util/crossgcc/Python-*/
util/crossgcc/tarballs/
util/crossgcc/w32api-*/
util/crossgcc/xgcc/

*.\#
*.bin
*.debug
*.elf
*.o
*.out
*.swp

# Development friendly files
tags
.clang_complete

# Cross-compile toolkits
xgcc/
tarballs/

#
# KDE editors create lots of backup files whenever
# a file is edited, so just ignore them
*~
*.kate-swp
# Ignore Kdevelop project file
.kdev4

util/*/.dependencies
util/*/.test
util/board_status/board-status
util/cbfstool/cbfstool
util/cbmem/.dependencies
util/cbmem/cbmem
util/dumpmmcr/dumpmmcr
util/ectool/ectool
util/getpir/getpir
util/ifdtool/ifdtool
util/ifdfake/ifdfake
util/inteltool/.dependencies
util/inteltool/inteltool
util/k8resdump/k8resdump
util/lbtdump/lbtdump
util/mptable/mptable
util/msrtool/Makefile
util/msrtool/Makefile.deps
util/msrtool/msrtool
util/nvramtool/.dependencies
util/nvramtool/nvramtool
util/optionlist/Options.wiki
util/romcc/romcc
util/romcc/tests/fail_test*.S
util/romcc/tests/*.S-O2-mmmx
util/superiotool/superiotool
util/vgabios/testbios

documentation/*.aux
documentation/*.idx
documentation/*.log
documentation/*.toc
documentation/*.out
documentation/*.pdf
documentation/cpukconfig.tex
documentation/mainboardkconfig.tex
documentation/skconfig.tex
documentation/socketfkconfig.tex
