[submodule "3rdparty"]
	path = 3rdparty/blobs
	url = ../blobs.git
	update = none
	ignore = dirty
[submodule "util/nvidia-cbootimage"]
	path = util/nvidia/cbootimage
	url = ../nvidia-cbootimage.git
[submodule "vboot"]
	path = 3rdparty/vboot
	url = ../vboot.git
[submodule "arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = ../arm-trusted-firmware.git
