## SPDX-License-Identifier: GPL-2.0-only

config BOARD_HP_2560P
	bool "EliteBook 2560p"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_8192
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_BD82X6X

config BOARD_HP_2570P
	bool "EliteBook 2570p"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_16384
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_C216

config BOARD_HP_2760P
	bool "EliteBook 2760p"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_8192
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_BD82X6X

config BOARD_HP_8460P
	bool "EliteBook 8460p"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_8192
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_BD82X6X
	select SUPERIO_SMSC_LPC47N217

config BOARD_HP_8470P
	bool "EliteBook 8470p"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_16384
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_C216
	select SUPERIO_SMSC_LPC47N217

config BOARD_HP_8770W
	bool "EliteBook 8770w"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_16384
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_C216
	select SUPERIO_SMSC_LPC47N217

config BOARD_HP_FOLIO_9470M
	bool "EliteBook Folio 9470m"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_16384
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_C216

config BOARD_HP_PROBOOK_6360B
	bool "ProBook 6360b"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_4096
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_HAS_LPC_TPM
	select MAINBOARD_HAS_TPM1
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_BD82X6X
	select SUPERIO_SMSC_LPC47N217

config BOARD_HP_REVOLVE_810_G1
	bool "EliteBook Revolve 810 G1"

	select BOARD_HP_SNB_IVB_LAPTOPS
	select BOARD_ROMSIZE_KB_16384
	select HAVE_SPD_IN_CBFS
	select GFX_GMA_PANEL_1_ON_LVDS
	select INTEL_INT15
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SOUTHBRIDGE_INTEL_C216
