## SPDX-License-Identifier: GPL-2.0-only

config BOARD_HP_SNB_IVB_LAPTOPS
	def_bool n
	select EC_HP_KBC1126
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select MAINBOARD_HAS_LPC_TPM
	select MAINBOARD_HAS_TPM1
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select SYSTEM_TYPE_LAPTOP
	select USE_NATIVE_RAMINIT

if BOARD_HP_SNB_IVB_LAPTOPS

config MAINBOARD_DIR
	default "hp/snb_ivb_laptops"

config VARIANT_DIR
	default "2560p"          if BOARD_HP_2560P
	default "2570p"          if BOARD_HP_2570P
	default "2760p"          if BOARD_HP_2760P
	default "8460p"          if BOARD_HP_8460P
	default "8470p"          if BOARD_HP_8470P
	default "8770w"          if BOARD_HP_8770W
	default "folio_9470m"    if BOARD_HP_FOLIO_9470M
	default "probook_6360b"  if BOARD_HP_PROBOOK_6360B
	default "revolve_810_g1" if BOARD_HP_REVOLVE_810_G1

config MAINBOARD_PART_NUMBER
	default "EliteBook 2560p"          if BOARD_HP_2560P
	default "EliteBook 2570p"          if BOARD_HP_2570P
	default "EliteBook 2760p"          if BOARD_HP_2760P
	default "EliteBook 8460p"          if BOARD_HP_8460P
	default "EliteBook 8470p"          if BOARD_HP_8470P
	default "EliteBook 8770w"          if BOARD_HP_8770W
	default "EliteBook Folio 9470m"    if BOARD_HP_FOLIO_9470M
	default "ProBook 6360b"            if BOARD_HP_PROBOOK_6360B
	default "EliteBook Revolve 810 G1" if BOARD_HP_REVOLVE_810_G1

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config VGA_BIOS_ID
	string
	default "8086,0116" if SOUTHBRIDGE_INTEL_BD82X6X
	default "8086,0166" if SOUTHBRIDGE_INTEL_C216

config USBDEBUG_HCD_INDEX
	int
	default 1 if BOARD_HP_2560P
	default 2 if BOARD_HP_2570P
	default 1 if BOARD_HP_2760P
	default 1 if BOARD_HP_8460P
	default 2 if BOARD_HP_8470P
	default 2 if BOARD_HP_8770W
	default 0 if BOARD_HP_FOLIO_9470M
	default 1 if BOARD_HP_PROBOOK_6360B # FIXME: check this
	default 2 if BOARD_HP_REVOLVE_810_G1 # FIXME: check this

endif
