# SPDX-License-Identifier: GPL-2.0-only

# Generic Nuvoton romstage driver - Just enough UART initialisation code for
# pre-ram.
config SUPERIO_NUVOTON_COMMON_PRE_RAM
	bool

config SUPERIO_NUVOTON_COMMON_COM_A
	bool
	depends on SUPERIO_NUVOTON_COMMON_PRE_RAM
	help
	  When enabled, the 'nuvoton_enable_serial()' function will unset
	  global CR 0x2a bit 7 to route COM A to the GPIO8 pin group.

# Generic Nuvoton HWM driver
config SUPERIO_NUVOTON_COMMON_HWM
	bool
