if BOARD_AOPEN_DXPLPLUSU

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_MPGA604
	select NORTHBRIDGE_INTEL_E7505
	select SOUTHBRIDGE_INTEL_I82870
	select SOUTHBRIDGE_INTEL_I82801DX
	select SUPERIO_SMSC_LPC47M10X
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_2048

config MAINBOARD_DIR
	default "aopen/dxplplusu"

config MAINBOARD_PART_NUMBER
	default "DXPL Plus-U"

config IRQ_SLOT_COUNT
	int
	default 12

config MAX_CPUS
	int
	default 4

endif # BOARD_AOPEN_DXPLPLUSU
