if BOARD_PACKARDBELL_MS2290

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select SYSTEM_TYPE_LAPTOP
	select ARCH_BOOTBLOCK_X86_32
	select ARCH_ROMSTAGE_X86_32
	select ARCH_RAMSTAGE_X86_32
	select NORTHBRIDGE_INTEL_NEHALEM
	select SOUTHBRIDGE_INTEL_IBEXPEAK
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select BOARD_ROMSIZE_KB_4096
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MAINBOARD_HAS_LIBGFXINIT
	select INTEL_INT15
	select EC_ACPI

config MAINBOARD_DIR
	string
	default packardbell/ms2290

config MAINBOARD_PART_NUMBER
	string
	default "EasyNote LM85"

config MAINBOARD_VERSION
	string
	default "V1.20"

config MAINBOARD_VENDOR
	string
	default "Packard Bell"

config MMCONF_BASE_ADDRESS
	hex
	default 0xe0000000

config USBDEBUG_HCD_INDEX
	int
	default 2

config DRAM_RESET_GATE_GPIO
	int
	default 60

config MAX_CPUS
	int
	default 4

config CPU_ADDR_BITS
	int
	default 36

endif
