## SPDX-License-Identifier: GPL-2.0-only

if BOARD_PACKARDBELL_MS2290

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select SYSTEM_TYPE_LAPTOP
	select NORTHBRIDGE_INTEL_IRONLAKE
	select SOUTHBRIDGE_INTEL_IBEXPEAK
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select BOARD_ROMSIZE_KB_4096
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select MAINBOARD_HAS_LIBGFXINIT
	select INTEL_INT15
	select EC_ACPI

config MAINBOARD_DIR
	default "packardbell/ms2290"

config MAINBOARD_PART_NUMBER
	default "EasyNote LM85"

config MAINBOARD_VERSION
	string
	default "V1.20"

config USBDEBUG_HCD_INDEX
	int
	default 2

config DRAM_RESET_GATE_GPIO
	int
	default 60

endif
