if VENDOR_SCALEWAY

choice
	prompt "Mainboard model"

source "src/mainboard/scaleway/*/Kconfig.name"

endchoice

source "src/mainboard/scaleway/*/Kconfig"

config MAINBOARD_VENDOR
	default "Scaleway"

endif # VENDOR_SCALEWAY
