## SPDX-License-Identifier: GPL-2.0-only

config REALTEK_8168_RESET
	bool
	help
	  This forces a realtek 10ec:8168 card to reset to ensure power state
	  is correct at boot.

config REALTEK_8168_MACADDRESS
	string "Realtek rt8168 mac address"
	depends on REALTEK_8168_RESET && !RT8168_GET_MAC_FROM_VPD
	default "00:e0:4c:00:c0:b0"
	help
	  This is a string to set the mac address on a Realtek rt8168 card.
	  It must be in the form  of "xx:xx:xx:xx:xx:xx", where x is a
	  hexadecimal number for it to be valid. Failing to do so will
	  result in the default macaddress being used.

config RT8168_PUT_MAC_TO_ERI
	bool
	help
	  After programming MAC address into the regular rt8168 ID registers,
	  also program it into ERI. On some mainboards our programmed
	  MAC address will not survive a controller reset without this step.

	  Select at mainboard level only if its rt8168 has no EEPROM and
	  programmed MAC address is lost after booting to OS.

config RT8168_GET_MAC_FROM_VPD
	bool
	default n
	select REALTEK_8168_RESET

config RT8168_SUPPORT_LEGACY_VPD_MAC
	bool
	default n
	help
	  Previously VPD expected that device_indexes set to zero were
	  special cased. Selecting this Kconfig restores the legacy
	  VPD format and behaviour. If unsure, you likely do not need this!

config RT8168_SET_LED_MODE
	bool
	default n
	select REALTEK_8168_RESET
	help
	  This is to set a customized LED mode to distinguish 10/100/1000
	  link and speed status with limited LEDs available on a board.
	  Please refer to RTL811x datasheet section 7.2 Customizable LED
	  Configuration for details. With this flag enabled, the
	  customized_leds variable will be read from devicetree setting.

config RT8168_GEN_ACPI_POWER_RESOURCE
	bool
	default n
	depends on REALTEK_8168_RESET
	help
	  Select this if an ACPI power resource needs to be generated.

config ATHEROS_ATL1E_SETMAC
	bool
	help
	  This sets the MAC address on boards featuring the atheros 1968:1026
	  NIC which lack an eeprom to store it.

config ATHEROS_ATL1E_MACADDRESS
	string "Atheros AR8121/AR8113/AR8114 mac address"
	depends on ATHEROS_ATL1E_SETMAC
	default "90:e6:ba:24:f9:d2"
	help
	  This is a string to set the mac address on an Atheros atl1e card.
	  It must be in the form  of "xx:xx:xx:xx:xx:xx", where x is a
	  hexadecimal number for it to be valid. Failing to do so will
	  result in the default MAC address being used.
