if VENDOR_AAEON

choice
	prompt "Mainboard model"

source "src/mainboard/aaeon/*/Kconfig.name"

endchoice

source "src/mainboard/aaeon/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Aaeon"

endif # VENDOR_AAEON
