config BOARD_SUPERMICRO_H8DME
	bool "H8DME-2"
	select ARCH_X86
	select CPU_AMD_SOCKET_F
	select NORTHBRIDGE_AMD_AMDK8
	select NORTHBRIDGE_AMD_AMDK8_ROOT_COMPLEX
	select SOUTHBRIDGE_NVIDIA_MCP55
	select SUPERIO_WINBOND_W83627HF
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select USE_PRINTK_IN_CAR
	select USE_DCACHE_RAM
	select HAVE_HARD_RESET
	select AP_CODE_IN_CAR
	select IOAPIC
	select LIFT_BSP_APIC_ID
	select BOARD_ROMSIZE_KB_1024

config MAINBOARD_DIR
	string
	default supermicro/h8dme
	depends on BOARD_SUPERMICRO_H8DME

config DCACHE_RAM_BASE
	hex
	default 0xc8000
	depends on BOARD_SUPERMICRO_H8DME

config DCACHE_RAM_SIZE
	hex
	default 0x08000
	depends on BOARD_SUPERMICRO_H8DME

config DCACHE_RAM_GLOBAL_VAR_SIZE
	hex
	default 0x01000
	depends on BOARD_SUPERMICRO_H8DME

config APIC_ID_OFFSET
	hex
	default 0x10
	depends on BOARD_SUPERMICRO_H8DME

config MEM_TRAIN_SEQ
	int
	default 1
	depends on BOARD_SUPERMICRO_H8DME

config SB_HT_CHAIN_ON_BUS0
	int
	default 2
	depends on BOARD_SUPERMICRO_H8DME

config SB_HT_CHAIN_UNITID_OFFSET_ONLY
	bool
	default n
	depends on BOARD_SUPERMICRO_H8DME

config LB_CKS_RANGE_END
	int
	default 122
	depends on BOARD_SUPERMICRO_H8DME

config LB_CKS_LOC
	int
	default 123
	depends on BOARD_SUPERMICRO_H8DME

config MAINBOARD_PART_NUMBER
	string
	default "H8DME-2"
	depends on BOARD_SUPERMICRO_H8DME

config HW_MEM_HOLE_SIZEK
	hex
	default 0x100000
	depends on BOARD_SUPERMICRO_H8DME

config MAX_CPUS
	int
	default 4
	depends on BOARD_SUPERMICRO_H8DME

config MAX_PHYSICAL_CPUS
	int
	default 2
	depends on BOARD_SUPERMICRO_H8DME

config HT_CHAIN_END_UNITID_BASE
	hex
	default 0x0
	depends on BOARD_SUPERMICRO_H8DME

config HT_CHAIN_UNITID_BASE
	hex
	default 0x0
	depends on BOARD_SUPERMICRO_H8DME

config USE_INIT
	bool
	default n
	depends on BOARD_SUPERMICRO_H8DME

config SB_HT_CHAIN_ON_BUS0
	int
	default 2
	depends on BOARD_SUPERMICRO_H8DME

config IRQ_SLOT_COUNT
	int
	default 11
	depends on BOARD_SUPERMICRO_H8DME

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x15d9
	depends on BOARD_SUPERMICRO_H8DME

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x1511
	depends on BOARD_SUPERMICRO_H8DME

