config BOARD_DIGITALLOGIC_ADL855PC
	bool "smartModule855"
	select ARCH_X86
	select CPU_INTEL_SOCKET_MPGA479M
	select NORTHBRIDGE_INTEL_I855
	select SOUTHBRIDGE_INTEL_I82801DBM
	select SUPERIO_WINBOND_W83627HF
	select ROMCC
	select HAVE_PIRQ_TABLE
	select BOARD_ROMSIZE_KB_1024

config MAINBOARD_DIR
	string
	default digitallogic/adl855pc
	depends on BOARD_DIGITALLOGIC_ADL855PC

config MAINBOARD_PART_NUMBER
	string
	default "smartModule855"
	depends on BOARD_DIGITALLOGIC_ADL855PC

config IRQ_SLOT_COUNT
	int
	default 5
	depends on BOARD_DIGITALLOGIC_ADL855PC
