## SPDX-License-Identifier: GPL-2.0-only

if BOARD_GOOGLE_GALE

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_QC_IPQ40XX
	select BOARD_ROMSIZE_KB_8192
	select COMMON_CBFS_SPI_WRAPPER
	select DRIVERS_I2C_WW_RING
	select MAINBOARD_HAS_CHROMEOS
	select SPI_FLASH
	select SPI_FLASH_GIGADEVICE
	select SPI_FLASH_SPANSION
	select SPI_FLASH_STMICRO
	select SPI_FLASH_WINBOND
	select DRIVERS_UART
	select I2C_TPM
	select MAINBOARD_HAS_TPM1

config VBOOT
	select VBOOT_DISABLE_DEV_ON_RECOVERY
	select VBOOT_WIPEOUT_SUPPORTED

config BOARD_VARIANT_DK01
	bool "Build an image for DK01"
	default n

config MAINBOARD_DIR
	default "google/gale"

config MAINBOARD_PART_NUMBER
	default "DK01" if BOARD_VARIANT_DK01
	default "Gale"

config DRAM_SIZE_MB
	int
	default 512 if BOARD_VARIANT_DK01
	default 512

config DRIVER_TPM_I2C_BUS
	hex
	default 0x2

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x20

endif # BOARD_GOOGLE_GALE
