# SPDX-License-Identifier: GPL-2.0-only

if BOARD_ELMEX_PCM205400

config MAINBOARD_PART_NUMBER
	string
	default "pcm205400"

config VGA_BIOS_ID
	string
	default "1002,9806" # FUSION_G_T56N

endif # BOARD_ELMEX_PCM205400

if BOARD_ELMEX_PCM205400 || BOARD_ELMEX_PCM205401

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_AMD_AGESA_FAMILY14
	select NORTHBRIDGE_AMD_AGESA_FAMILY14
	select SOUTHBRIDGE_AMD_CIMX_SB800
	select SUPERIO_FINTEK_F81865F
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_4096
	select GFXUMA

config MAINBOARD_DIR
	string
	default "elmex/pcm205400"

config HW_MEM_HOLE_SIZEK
	hex
	default 0x200000

config MAX_CPUS
	int
	default 2

config IRQ_SLOT_COUNT
	int
	default 11

config ONBOARD_VGA_IS_PRIMARY
	bool
	default y

config SB800_AHCI_ROM
	bool
	default n

endif # BOARD_ELMEX_PCM205400 | BOARD_ELMEX_PCM205401
