## SPDX-License-Identifier: GPL-2.0-only

if BOARD_PORTWELL_M107

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select SOC_INTEL_BRASWELL
	select PCIEXP_L1_SUB_STATE
	select DISABLE_HPET
	select HAVE_SPD_IN_CBFS

choice
	prompt "Onboard memory manufacturer"
	default ONBOARD_MEM_MICRON

config ONBOARD_MEM_SAMSUNG
	bool "Samsung"
	help
	  Samsung K4B8G1646D memory

config ONBOARD_MEM_MICRON
	bool "Micron"
	help
	  Micron MT41K512M16HA memory

config ONBOARD_MEM_KINGSTON
	bool "Kingston"
	help
	  Kingston B5116ECMDXGGB memory

endchoice

config MAINBOARD_DIR
	default "portwell/m107"

config MAINBOARD_PART_NUMBER
	default "PQ7-M107"

config CBFS_SIZE
	default 0x00600000

config MRC_SETTINGS_CACHE_SIZE
	hex
	default 0x08000

config FSP_LOC
	hex
	default 0xfff9c000

config SPI_FLASH_INCLUDE_ALL_DRIVERS
	bool
	default n

config SPI_FLASH_WINBOND
	bool
	default y

endif # BOARD_PORTWELL_M107
