## SPDX-License-Identifier: GPL-2.0-only

config BOARD_SYSTEM76_ADDW3
	bool "addw3"

config BOARD_SYSTEM76_ADDW4
	bool "addw3"

config BOARD_SYSTEM76_BONW15
	bool "bonw15"

config BOARD_SYSTEM76_DARP9
	bool "darp9"

config BOARD_SYSTEM76_GALP7
	bool "galp7"

config BOARD_SYSTEM76_GAZE18
	bool "gaze18"

config BOARD_SYSTEM76_LEMP12
	bool "lemp12"

config BOARD_SYSTEM76_ORYP11
	bool "oryp11"

config BOARD_SYSTEM76_ORYP12
	bool "oryp12"

config BOARD_SYSTEM76_SERW13
	bool "serw13"
