##
## This file is part of the coreboot project.
##
## Copyright 2019 Google Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

# Umbrella option to be selected by variant boards.
config BOARD_GOOGLE_KUKUI_COMMON
	def_bool n

if BOARD_GOOGLE_KUKUI_COMMON

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select VBOOT_VBNV_FLASH

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select RTC
	select SOC_MEDIATEK_MT8183
	select BOARD_ROMSIZE_KB_8192
	select MAINBOARD_HAS_CHROMEOS
	select COMMON_CBFS_SPI_WRAPPER
	select SPI_FLASH
	select FATAL_ASSERTS
	select SPI_FLASH_INCLUDE_ALL_DRIVERS
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_BOARDID
	select EC_GOOGLE_CHROMEEC_SPI
	select MAINBOARD_HAS_SPI_TPM_CR50 if VBOOT
	select MAINBOARD_HAS_TPM2 if VBOOT

config MAINBOARD_DIR
	string
	default google/kukui

config MAINBOARD_PART_NUMBER
	string
	default "Kukui" if BOARD_GOOGLE_KUKUI
	default "Krane" if BOARD_GOOGLE_KRANE
	default "Flapjack" if BOARD_GOOGLE_FLAPJACK

config DRIVER_TPM_SPI_BUS
	hex
	default 0x0

config BOOT_DEVICE_SPI_FLASH_BUS
	int
	default 1

config EC_GOOGLE_CHROMEEC_SPI_BUS
	hex
	default 0x2

config GBB_HWID
	string
	depends on CHROMEOS
	default "KUKUI TEST 9847" if BOARD_GOOGLE_KUKUI
	default "KRANE TEST 5417" if BOARD_GOOGLE_KRANE
	default "FLAPJACK TEST 4147" if BOARD_GOOGLE_FLAPJACK

endif
