if BOARD_SIEMENS_MC_EHL2

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select DRIVERS_I2C_RX6110SA
	select DRIVER_INTEL_I210
	select SOC_INTEL_COMMON_BLOCK_LPC_COMB_ENABLE
	select EHL_TSN_DRIVER

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/mc_ehl.fmd"

config UART_FOR_CONSOLE
	int
	default 0

endif # BOARD_SIEMENS_MC_EHL2
