config SOC_AMD_COMMON_BLOCK_PM
	bool
	depends on SOC_AMD_COMMON_BLOCK_ACPIMMIO
	select HAVE_POWER_STATE_AFTER_FAILURE
	select HAVE_POWER_STATE_PREVIOUS_AFTER_FAILURE
	help
	  AMD Processor common code for Power Management (PM) subsystem.

if SOC_AMD_COMMON_BLOCK_PM

config SOC_AMD_COMMON_BLOCK_PM_CHIPSET_STATE_SAVE
	bool
	help
	  Add common functionality to write CBMEM_ID_POWER_STATE for AMD
	  platforms that use FSP for hardware initialization.

endif # SOC_AMD_COMMON_BLOCK_PM

config SOC_AMD_COMMON_BLOCK_RESET
	bool
	help
	  Select this option to use AMD common reset driver support.

config SOC_AMD_SUPPORTS_WARM_RESET
	bool
	depends on SOC_AMD_COMMON_BLOCK_RESET
	help
	  Select this option if the chip supports warm reset.
