##
## This file is part of the coreboot project.
##
## Copyright 2013 Google Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_GOOGLE_DAISY

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOOT_DEVICE_NOT_SPI_FLASH
	select CPU_SAMSUNG_EXYNOS5250
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_I2C
	select BOARD_ROMSIZE_KB_4096
	select DRIVER_MAXIM_MAX77686
	select MAINBOARD_HAS_CHROMEOS
	select DRIVER_TI_TPS65090
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MAINBOARD_FORCE_NATIVE_VGA_INIT
	select HAVE_LINEAR_FRAMEBUFFER
	select MAINBOARD_HAS_I2C_TPM_GENERIC
	select MAINBOARD_HAS_TPM1

config VBOOT
	select VBOOT_VBNV_EC

config MAINBOARD_DIR
	string
	default google/daisy

config MAINBOARD_PART_NUMBER
	string
	default "Daisy"

config MAX_CPUS
	int
	default 2

config DRAM_SIZE_MB
	int
	default 2048

config EC_GOOGLE_CHROMEEC_I2C_BUS
	hex
	default 0x4

config UART_FOR_CONSOLE
	int
	default 3

config GBB_HWID
	string
	depends on CHROMEOS
	default "DAISY TEST A-A 9382"
endif # BOARD_GOOGLE_DAISY
