##
## This file is part of the coreboot project.
##
## Copyright (C) 2010 coresystems GmbH
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

config CPU_AMD_GEODE_GX2
	bool
	select ARCH_BOOTBLOCK_X86_32
	select ARCH_VERSTAGE_X86_32
	select ARCH_ROMSTAGE_X86_32
	select ARCH_RAMSTAGE_X86_32

if CPU_AMD_GEODE_GX2

config CPU_SPECIFIC_OPTIONS
	def_bool y
	select NO_MMCONF_SUPPORT

config DCACHE_RAM_BASE
	hex
	default 0xc8000

config DCACHE_RAM_SIZE
	hex
	default 0x04000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x1000

config DCACHE_BSP_STACK_SLUSH
	hex
	default 0x1000

config DCACHE_AP_STACK_SIZE
	hex
	default 0x400

config GEODE_VSA
	bool
	default y

config GEODE_VSA_FILE
	bool "Add a VSA image"
	help
	  Select this option if you have an AMD Geode GX2 vsa that you would
	  like to add to your ROM.

	  You will be able to specify the location and file name of the
	  image later.

config VSA_FILENAME
	string "AMD Geode GX2 VSA path and filename"
	depends on GEODE_VSA_FILE
	default "gpl_vsa_gx_102.bin"
	help
	  The path and filename of the file to use as VSA.

endif # CPU_AMD_GEODE_GX2
