config ARCH_BOOTBLOCK_ARMV7
	def_bool n
	select ARCH_BOOTBLOCK_ARM

config ARCH_VERSTAGE_ARMV7
	def_bool n
	select ARCH_VERSTAGE_ARM

config ARCH_ROMSTAGE_ARMV7
	def_bool n
	select ARCH_ROMSTAGE_ARM

config ARCH_RAMSTAGE_ARMV7
	def_bool n
	select ARCH_RAMSTAGE_ARM
