comment "Glados"

config BOARD_GOOGLE_CAROLINE
	bool "->  Caroline (Samsung Chromebook Pro)"
	select BOARD_GOOGLE_BASEBOARD_GLADOS
	select DRIVERS_INTEL_WIFI
	select DSAR_ENABLE
	select NHLT_SSM4567 if INCLUDE_NHLT_BLOBS
	select SAR_ENABLE
	select USE_SAR

config BOARD_GOOGLE_CHELL
	bool "->  Chell (HP Chromebook 13 G1)"
	select BOARD_GOOGLE_BASEBOARD_GLADOS
	select NHLT_SSM4567 if INCLUDE_NHLT_BLOBS

config BOARD_GOOGLE_GLADOS
	bool "->  Glados Skylake Reference Board"
	select BOARD_GOOGLE_BASEBOARD_GLADOS
	select NHLT_DMIC_4CH if INCLUDE_NHLT_BLOBS
	select NHLT_SSM4567 if INCLUDE_NHLT_BLOBS

config BOARD_GOOGLE_LARS
	bool "->  Lars (Acer Chromebook 14 for Work (CP5-471))"
	select BOARD_GOOGLE_BASEBOARD_GLADOS
	select DRIVERS_GENERIC_MAX98357A
	select EXCLUDE_NATIVE_SD_INTERFACE
	select NHLT_MAX98357 if INCLUDE_NHLT_BLOBS

config BOARD_GOOGLE_SENTRY
	bool "->  Sentry (Lenovo Thinkpad 13 Chromebook)"
	select BOARD_GOOGLE_BASEBOARD_GLADOS
	select DRIVERS_GENERIC_MAX98357A
	select NHLT_DMIC_4CH if INCLUDE_NHLT_BLOBS
	select NHLT_MAX98357 if INCLUDE_NHLT_BLOBS
	select NHLT_SSM4567 if INCLUDE_NHLT_BLOBS
