config SOC_MEDIATEK_MT8183
	bool
	default n
	select ARCH_BOOTBLOCK_ARMV8_64
	select ARCH_RAMSTAGE_ARMV8_64
	select ARCH_ROMSTAGE_ARMV8_64
	select ARCH_VERSTAGE_ARMV8_64
	select ARM64_USE_ARM_TRUSTED_FIRMWARE
	select GENERIC_UDELAY
	select HAVE_UART_SPECIAL
	select HAVE_MONOTONIC_TIMER
	select COMPRESS_BOOTBLOCK

if SOC_MEDIATEK_MT8183

config VBOOT
	select VBOOT_MUST_REQUEST_DISPLAY
	select VBOOT_STARTS_IN_BOOTBLOCK
	select VBOOT_SEPARATE_VERSTAGE

config DEBUG_DRAM
	bool "Output verbose DRAM related debug messages"
	default n
	help
	  This option enables additional DRAM related debug messages.

config MEMORY_TEST
	bool
	default y

endif
