if BOARD_INTEL_MINNOW3

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_INTEL_APOLLOLAKE
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_TABLES

config MAINBOARD_DIR
	string
	default intel/minnow3

config MAINBOARD_PART_NUMBER
	string
	default "Minnow3"

endif # BOARD_INTEL_MINNOW3
