aside.copyright {
    padding-top: 30px;
    color: rgba(0,0,0,0.3);
}

.article h3, .article h4 { color:#3f51b5; }
.article h4 { font-style: normal; }


.article dl {
}

.article dl > dt {
    margin-top: 1.5em;
    display: block;

    font-style: italic;
}

.article dl > dd {
    margin-left: 1.5em;
    margin-bottom: 10px;
}

.article dl > dd > p {
    margin-top: 1em;
}

.article dl > dd > p:first-child {
    margin-top: 0px;
}

.article code {
    background: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.05);
    padding: 0px 4px;
    margin: 1px;
    color: inherit !important;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.article .admonition code {
    background: hsla(0,0%,100%,.3);
}

.article pre > code {
    background: none;
    margin: 0px;
    padding: 0px;
    border: none;
}

.article .admonition pre > code {
    background: none;
}

.article li p {
    display: block;
    margin-top: 0.5em;
}

.article ul>li ul>li:before {
    content: "∙";
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

.article .admonition {
    font-weight: 600;
}

.article .admonition-title {
    font-weight: 400;
}

.coreboot-download {
    width: 50%;
}
