## SPDX-License-Identifier: GPL-2.0-only

if BOARD_SIEMENS_FA_ASL

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select CPU_INTEL_SOCKET_LGA1700
	select DRIVERS_INTEL_DPTF
	select FSP_TYPE_IOT
	select HAVE_ACPI_TABLES
	select HAVE_SPD_IN_CBFS
	select INTEL_LPSS_UART_FOR_CONSOLE
	select SOC_INTEL_ALDERLAKE_PCH_N

config MAINBOARD_DIR
	default "siemens/fa_asl"

config MAINBOARD_PART_NUMBER
	default "FA ASL"

config MAINBOARD_VENDOR
	default "Siemens"

config MAINBOARD_FAMILY
	string
	default "FA ASL"

config DEVICETREE
	default "devicetree.cb"

config UART_FOR_CONSOLE
	int
	default 1

endif # BOARD_SIEMENS_FA_ASL
