##
## This file is part of the coreboot project.
##
## Copyright (C) 2008-2009 coresystems GmbH
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
##

config SOUTHBRIDGE_VIA_VT8237R
	bool
	select HAVE_DEBUG_SMBUS
	select IOAPIC

if SOUTHBRIDGE_VIA_VT8237R

if NORTHBRIDGE_AMD_K8 || NORTHBRIDGE_AMD_FAM10
config SOUTH_BRIDGE_OPTIONS # dummy
	def_bool y
	select HAVE_SMI_HANDLER
endif

config EPIA_VT8237R_INIT
	bool
	default n

config BOOTBLOCK_SOUTHBRIDGE_INIT
	string
	default "southbridge/via/vt8237r/bootblock.c"

endif
