if VENDOR_RODA

choice
	prompt "Mainboard model"

config BOARD_RODA_RK886EX
	bool "RK886EX"

config BOARD_RODA_RK9
	bool "RK9"

endchoice

source "src/mainboard/roda/rk886ex/Kconfig"
source "src/mainboard/roda/rk9/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Roda"

endif # VENDOR_RODA
