config BOARD_ASUS_P2B
	bool "P2B"

config BOARD_ASUS_P2B_D
	bool "P2B-D"

config BOARD_ASUS_P2B_DS
	bool "P2B-DS"

config BOARD_ASUS_P2B_F
	bool "P2B-F"

config BOARD_ASUS_P2B_LS
	bool "P2B-LS"

config BOARD_ASUS_P3B_F
	bool "P3B-F"
