## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASUS_P2B || BOARD_ASUS_P2B_D || BOARD_ASUS_P2B_DS || BOARD_ASUS_P2B_F || BOARD_ASUS_P2B_LS || BOARD_ASUS_P3B_F

config BASE_ASUS_P2B_D
	def_bool n
	select SDRAMPWR_4DIMM
	select HAVE_MP_TABLE

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select ACPI_NO_MADT
	select CPU_INTEL_SLOT_1
	select NORTHBRIDGE_INTEL_I440BX
	select SOUTHBRIDGE_INTEL_I82371EB
	select SUPERIO_WINBOND_W83977TF
	select HAVE_PIRQ_TABLE
	select BOARD_ROMSIZE_KB_256
	select HAVE_OPTION_TABLE
	select SDRAMPWR_4DIMM if BOARD_ASUS_P2B_LS || BOARD_ASUS_P3B_F
	select HAVE_ACPI_TABLES if BOARD_ASUS_P2B || BOARD_ASUS_P2B_LS
	select BASE_ASUS_P2B_D if BOARD_ASUS_P2B_D || BOARD_ASUS_P2B_DS

config MAX_CPUS
	int
	default 2 if BASE_ASUS_P2B_D

config MAINBOARD_DIR
	default "asus/p2b"

config MAINBOARD_PART_NUMBER
	default "P2B" if BOARD_ASUS_P2B
	default "P2B-D" if BOARD_ASUS_P2B_D
	default "P2B-DS" if BOARD_ASUS_P2B_DS
	default "P2B-F" if BOARD_ASUS_P2B_F
	default "P2B-LS" if BOARD_ASUS_P2B_LS
	default "P3B-F" if BOARD_ASUS_P3B_F

config VARIANT_DIR
	default "p2b" if BOARD_ASUS_P2B
	default "p2b-d" if BOARD_ASUS_P2B_D
	default "p2b-ds" if BOARD_ASUS_P2B_DS
	default "p2b-f" if BOARD_ASUS_P2B_F
	default "p2b-ls" if BOARD_ASUS_P2B_LS
	default "p3b-f" if BOARD_ASUS_P3B_F

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config IRQ_SLOT_COUNT
	int
	default 8 if BOARD_ASUS_P2B_LS || BOARD_ASUS_P3B_F
	default 7 if BOARD_ASUS_P2B_F || BOARD_ASUS_P2B_DS
	default 6

endif
