choice
        prompt "Mainboard model"
        depends on VENDOR_VIA

config BOARD_VIA_VT8454C
        bool "vt8454c"
        select ARCH_X86
        select CPU_VIA_C7
        select NORTHBRIDGE_VIA_CX700
#       select SOUTHBRIDGE_INTEL_I82801GX
        select SUPERIO_VIA_VT1211
        select PIRQ_TABLE
#	select MMCONF_SUPPORT
	select USE_PRINTK_IN_CAR
        help
          Kontron 986LCD-M Series mainboards
endchoice

config MAINBOARD_DIR
	string
	default via/vt8454c
	depends on BOARD_VIA_VT8454C

config DCACHE_RAM_BASE
	hex
	default 0xffef0000
	depends on BOARD_VIA_VT8454C

config DCACHE_RAM_SIZE
	hex
	default 0x8000
	depends on BOARD_VIA_VT8454C

config MAINBOARD_PART_NUMBER
	string
	default "VT8454C"
	depends on BOARD_VIA_VT8454C
