## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_ACER

choice
	prompt "Mainboard model"

source "src/mainboard/acer/*/Kconfig.name"

endchoice

source "src/mainboard/acer/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Acer"

endif # VENDOR_ACER
