##
## This file is part of the coreboot project.
##
## Copyright 2014 Google Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc.
##

if BOARD_GOOGLE_RUSH_RYU

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOARD_ID_AUTO
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_I2C
	select EC_GOOGLE_CHROMEEC_I2C_PROTO3
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MAINBOARD_DO_NATIVE_VGA_INIT
	select SPI_FLASH
	select SOC_NVIDIA_TEGRA132
	select MAINBOARD_DO_DSI_INIT
	select MAINBOARD_HAS_CHROMEOS
	select BOARD_ROMSIZE_KB_8192
	select ARM64_USE_SPINTABLE

config CHROMEOS
	select CHROMEOS_VBNV_EC
	select EC_SOFTWARE_SYNC
	select VIRTUAL_DEV_SWITCH

config MAINBOARD_DIR
	string
	default google/rush_ryu

config MAINBOARD_PART_NUMBER
	string
	default "Rush Ryu"

choice
	prompt "BCT boot media"
	default RUSH_RYU_BCT_CFG_SPI
	help
	  Which boot media to configure the BCT for.

config RUSH_RYU_BCT_CFG_SPI
	bool "SPI"
	help
	  Configure the BCT for booting from SPI.

config RUSH_RYU_BCT_CFG_EMMC
	bool "eMMC"
	help
	  Configure the BCT for booting from eMMC.

endchoice

config BOOT_MEDIA_SPI_BUS
	int "SPI bus with boot media ROM"
	range 1 6
	depends on RUSH_RYU_BCT_CFG_SPI
	default 4
	help
	  Which SPI bus the boot media is connected to.

config BOOT_MEDIA_SPI_CHIP_SELECT
	int "Chip select for SPI boot media"
	range 0 3
	depends on RUSH_RYU_BCT_CFG_SPI
	default 0
	help
	  Which chip select to use for boot media.

config DRIVER_TPM_I2C_BUS
	hex
	default 0x2

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x20

config EC_GOOGLE_CHROMEEC_I2C_BUS
	hex
	default 1

endif # BOARD_GOOGLE_RUSH_RYU
