config CPU_SAMSUNG_EXYNOS5250
	select ARCH_BOOTBLOCK_ARMV7
	select ARCH_VERSTAGE_ARMV7
	select ARCH_ROMSTAGE_ARMV7
	select ARCH_RAMSTAGE_ARMV7
	select HAVE_MONOTONIC_TIMER
	select GENERIC_UDELAY
	select HAVE_UART_SPECIAL
	select BOOTBLOCK_CONSOLE
	select HAVE_HARD_RESET
	bool
	default n
