# SPDX-License-Identifier: GPL-2.0-only

if BOARD_INTEL_DG41WV

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_LGA775
	select NORTHBRIDGE_INTEL_X4X
	select SOUTHBRIDGE_INTEL_I82801GX
	select SUPERIO_WINBOND_W83627DHG
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_2048
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_ACPI_RESUME
	select DRIVERS_I2C_CK505
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT

config MAINBOARD_DIR
	default "intel/dg41wv"

config MAINBOARD_PART_NUMBER
	default "DG41WV"

endif # BOARD_INTEL_DG41WV
