config SOUTHBRIDGE_INTEL_I82371EB
	bool
	select HAVE_ACPI_RESUME if HAVE_ACPI_TABLES

config BOOTBLOCK_SOUTHBRIDGE_INIT
	string
	default "southbridge/intel/i82371eb/bootblock.c"
	depends on SOUTHBRIDGE_INTEL_I82371EB

