config SOUTHBRIDGE_INTEL_I82371EB
	select ACPI_INTEL_HARDWARE_SLEEP_VALUES
	select SOUTHBRIDGE_INTEL_COMMON_SMBUS
	select SOUTHBRIDGE_INTEL_COMMON_RTC
	select SOUTHBRIDGE_INTEL_COMMON_RESET
	select BOOT_DEVICE_NOT_SPI_FLASH
	bool
