
if BOARD_SIEMENS_MC_APL2

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select DRIVER_INTEL_I210
	select DRIVERS_I2C_RX6110SA
	select DRIVER_SIEMENS_NC_FPGA
	select MAINBOARD_HAS_TPM2
	select MAINBOARD_HAS_LPC_TPM
	select TPM_ON_FAST_SPI

endif # BOARD_SIEMENS_MC_APL2
