
if BOARD_SIEMENS_MC_APL6

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select DRIVER_INTEL_I210
	select DRIVERS_I2C_RX6110SA
	select RX6110SA_DISABLE_ACPI
	select DRIVER_SIEMENS_NC_FPGA
	select NC_FPGA_NOTIFY_CB_READY
	select APL_SKIP_SET_POWER_LIMITS
	select MAINBOARD_HAS_TPM2
	select MEMORY_MAPPED_TPM
	select TPM_ON_FAST_SPI
	select TPM_MEASURED_BOOT
	select HAS_RECOVERY_MRC_CACHE

config VBOOT
	select VBOOT_VBNV_FLASH
	select VBOOT_NO_BOARD_SUPPORT
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/mc_apl_vboot.fmd"

endif # BOARD_SIEMENS_MC_APL6
