config BOARD_GOOGLE_BOTEN
	bool "Boten"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR

config BOARD_GOOGLE_BOTEN_LEGACY
	bool "Boten (Legacy)"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select BOARD_ROMSIZE_KB_32768

config BOARD_GOOGLE_DEDEDE
	bool "Dedede"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select BOARD_ROMSIZE_KB_32768

config BOARD_GOOGLE_DRAWCIA
	bool "Drawcia"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR
	select DRIVERS_INTEL_MIPI_CAMERA
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_DRAWCIA_LEGACY
	bool "Drawcia (Legacy)"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_INTEL_MIPI_CAMERA
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_MADOO
	bool "-> Madoo"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR

config BOARD_GOOGLE_WADDLEDOO
	bool "Waddledoo"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_DA7219
	select DRIVERS_INTEL_MIPI_CAMERA
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_WADDLEDEE
	bool "Waddledee"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select BOARD_ROMSIZE_KB_32768

config BOARD_GOOGLE_WHEELIE
	bool "Wheelie"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP

config BOARD_GOOGLE_LALALA
	bool "-> Lalala"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_TPM2
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_INTEL_MIPI_CAMERA
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_MAGOLOR
	bool "-> Magolor"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_INTEL_MIPI_CAMERA
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_METAKNIGHT
	bool "-> Metaknight"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP

config BOARD_GOOGLE_LANTIS
	bool "-> Lantis"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A

config BOARD_GOOGLE_GALTIC
	bool "-> Galtic"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR

config BOARD_GOOGLE_SASUKE
	bool "-> Sasuke"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_DA7219
	select GEO_SAR_ENABLE if CHROMEOS_WIFI_SAR

config BOARD_GOOGLE_STORO
	bool "-> Storo"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_INTEL_MIPI_CAMERA
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_SASUKETTE
	bool "-> Sasukette"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP

config BOARD_GOOGLE_KRACKO
	bool "-> Kracko"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A

config BOARD_GOOGLE_BLIPPER
	bool "-> Blipper"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP

config BOARD_GOOGLE_CRET
	bool "-> Cret"
	select BOARD_GOOGLE_BASEBOARD_DEDEDE_CR50
	select BASEBOARD_DEDEDE_LAPTOP
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_DA7219
