
config BOARD_GOOGLE_BASEBOARD_AURON
	def_bool n
	select SOC_INTEL_BROADWELL
	select BOARD_ROMSIZE_KB_8192
	select EC_GOOGLE_CHROMEEC
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_ACPI_RESUME
	select HAVE_SMI_HANDLER
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_LPC_TPM
	select MAINBOARD_HAS_TPM1
	select INTEL_INT15
	select SYSTEM_TYPE_LAPTOP

if BOARD_GOOGLE_BASEBOARD_AURON

config CHROMEOS
	select CHROMEOS_RAMOOPS_DYNAMIC

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select VBOOT_LID_SWITCH
	select VBOOT_VBNV_CMOS

config MAINBOARD_DIR
	string
	default google/auron

config VARIANT_DIR
	string
	default "auron_paine" if BOARD_GOOGLE_AURON_PAINE
	default "auron_yuna" if BOARD_GOOGLE_AURON_YUNA
	default "gandof" if BOARD_GOOGLE_GANDOF
	default "lulu" if BOARD_GOOGLE_LULU
	default "samus" if BOARD_GOOGLE_SAMUS

config MAINBOARD_PART_NUMBER
	string
	default "Auron_Paine" if BOARD_GOOGLE_AURON_PAINE
	default "Auron_Yuna" if BOARD_GOOGLE_AURON_YUNA
	default "Gandof" if BOARD_GOOGLE_GANDOF
	default "Lulu" if BOARD_GOOGLE_LULU
	default "Samus" if BOARD_GOOGLE_SAMUS

config GBB_HWID
	string
	depends on CHROMEOS
	default "PAINE TEST A-A 8843" if BOARD_GOOGLE_AURON_PAINE
	default "YUNA TEST A-A 3347" if BOARD_GOOGLE_AURON_YUNA
	default "GANDOF TEST A-A 7705" if BOARD_GOOGLE_GANDOF
	default "LULU TEST A-A 7705" if BOARD_GOOGLE_LULU
	default "SAMUS TEST 8028" if BOARD_GOOGLE_SAMUS

config DEVICETREE
	string
	default "variants/auron_paine/devicetree.cb" if BOARD_GOOGLE_AURON_PAINE
	default "variants/auron_yuna/devicetree.cb" if BOARD_GOOGLE_AURON_YUNA
	default "variants/gandof/devicetree.cb" if BOARD_GOOGLE_GANDOF
	default "variants/lulu/devicetree.cb" if BOARD_GOOGLE_LULU
	default "variants/samus/devicetree.cb" if BOARD_GOOGLE_SAMUS

config EC_GOOGLE_CHROMEEC_BOARDNAME
	string
	default "samus" if BOARD_GOOGLE_SAMUS
	default ""

config MAX_CPUS
	int
	default 8

config VGA_BIOS_FILE
	string
	default "pci8086,0406.rom"

config HAVE_IFD_BIN
	bool
	default n

config HAVE_ME_BIN
	bool
	default n

endif
