if VENDOR_BROADCOM

choice
	prompt "Mainboard model"

source "src/mainboard/broadcom/*/Kconfig.name"

endchoice

source "src/mainboard/broadcom/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Broadcom"

endif # VENDOR_BROADCOM
