## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_TI

# Auto select common options
choice
	prompt "Mainboard model"

source "src/mainboard/ti/*/Kconfig.name"

endchoice

source "src/mainboard/ti/*/Kconfig"

config MAINBOARD_VENDOR
	default "TI"

endif # VENDOR_TI
