##
## This file is part of the coreboot project.
##
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

config UEFI_2_4_BINDING
	def_bool n

config UDK_2015_BINDING
	def_bool n

config UDK_2017_BINDING
	def_bool n

if (UEFI_2_4_BINDING || UDK_2015_BINDING || UDK_2017_BINDING)
config UDK_2013_VERSION
	int
	default 2013

config UDK_2015_VERSION
	int
	default 2015

config UDK_2017_VERSION
	int
	default 2017

config UDK_VERSION
	int
	default UDK_2017_VERSION if UDK_2017_BINDING
	default UDK_2015_VERSION if UDK_2015_BINDING
	default UDK_2013_VERSION
	help
	  UEFI Development Kit version for Platform
endif # {UEFI,UDK}_BINDING
