## SPDX-License-Identifier: GPL-2.0-only

if BOARD_APPLE_MACBOOK11 || BOARD_APPLE_MACBOOK21 || BOARD_APPLE_IMAC52

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SYSTEM_TYPE_LAPTOP
	select CPU_INTEL_SOCKET_M
	select NORTHBRIDGE_INTEL_I945
	select NORTHBRIDGE_INTEL_SUBTYPE_I945GM
	select SOUTHBRIDGE_INTEL_I82801GX
	select EC_ACPI
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_MP_TABLE
	select BOARD_ROMSIZE_KB_2048
	select INTEL_INT15
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select I945_LVDS

config MAINBOARD_DIR
	default "apple/macbook21"

config MAINBOARD_PART_NUMBER
	default "Macbook1,1" if BOARD_APPLE_MACBOOK11
	default "MacBook2,1" if BOARD_APPLE_MACBOOK21
	default "iMac5,2" if BOARD_APPLE_IMAC52

config MAX_CPUS
	int
	default 2

config MAINBOARD_SMBIOS_MANUFACTURER
	string
	default "Apple Inc."

endif
