## SPDX-License-Identifier: GPL-2.0-only

if BOARD_UP_SQUARED

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select SOC_INTEL_APOLLOLAKE
	select BOARD_ROMSIZE_KB_16384
	select ONBOARD_VGA_IS_PRIMARY
	select MAINBOARD_HAS_LIBGFXINIT
	select CRB_TPM
	select HAVE_INTEL_PTT
	select NO_UART_ON_SUPERIO

config VBOOT
	select VBOOT_NO_BOARD_SUPPORT
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP

config GBB_HWID
	string
	depends on VBOOT
	default "UPSQUARED"

config MAINBOARD_DIR
	default "up/squared"

config MAINBOARD_VENDOR
	string
	default "Up"

config MAINBOARD_PART_NUMBER
	default "Squared"

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/upsquared.fmd"	if !VBOOT
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-ro.fmd"	if !VBOOT_SLOTS_RW_A
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-roa.fmd"	if VBOOT_SLOTS_RW_A && !VBOOT_SLOTS_RW_AB
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-roab.fmd"	if VBOOT_SLOTS_RW_AB

config VGA_BIOS_ID
	string
	default "8086,5a85"

config PXE_ROM_ID
	string
	default "10ec,8168"

config LINUX_COMMAND_LINE
	string
	default "console=ttyS4,115200 earlyprintk=ttyS4,115200,keep" if PAYLOAD_LINUXBOOT && UART_FOR_CONSOLE=0

config UART_FOR_CONSOLE
	int
	default 0

config IFWI_FMAP_NAME
	string
	default "IFWI"

config POST_IO
	bool
	default n

config POST_DEVICE
	bool
	default n

config CONSOLE_POST
	bool
	default y

choice
	prompt "Mini PCIe port mode"
	default MINI_PCIE_MODE_PCIE
	help
	  Choose the operating mode of the mini PCIe port.

config MINI_PCIE_MODE_PCIE
	bool "PCIe"
	help
	  Select this option to leave the mini PCIe port in PCIe mode. This is
	  also the default mode of the vendor firmware.

config MINI_PCIE_MODE_MSATA
	bool "mSATA"
	help
	  Select this option to put the mini PCIe port into mSATA mode.
endchoice

endif
