# SPDX-License-Identifier: GPL-2.0-only
# This file is part of the coreboot project.

config ACPI_SATA_GENERATOR
	bool
	default n
	help
	  Use ACPI SATA port generator.

config ACPI_INTEL_HARDWARE_SLEEP_VALUES
	def_bool n
	help
	  Provide common definitions for Intel hardware PM1_CNT register sleep
	  values.

config ACPI_AMD_HARDWARE_SLEEP_VALUES
	def_bool n
	help
	  Provide common definitions for AMD hardware PM1_CNT register sleep
	  values.
