config BOARD_PCENGINES_ALIX1C
	bool "ALIX.1C"
	select ARCH_X86
	select CPU_AMD_LX
	select NORTHBRIDGE_AMD_LX
	select SOUTHBRIDGE_AMD_CS5536
	select SUPERIO_WINBOND_W83627HF
	select HAVE_PIRQ_TABLE
	select PIRQ_ROUTE
	select UDELAY_TSC
	select USE_DCACHE_RAM
	select USE_PRINTK_IN_CAR
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default pcengines/alix1c 
	depends on BOARD_PCENGINES_ALIX1C

config MAINBOARD_PART_NUMBER
	string
	default "ALIX.1C"
	depends on BOARD_PCENGINES_ALIX1C

config HAVE_OPTION_TABLE
	bool
	default n
	depends on BOARD_PCENGINES_ALIX1C

config IRQ_SLOT_COUNT
	int
	default 5
	depends on BOARD_PCENGINES_ALIX1C

config DCACHE_RAM_BASE
	hex
	default 0xc8000
	depends on BOARD_PCENGINES_ALIX1C

config DCACHE_RAM_SIZE
	hex
	default 0x8000
	depends on BOARD_PCENGINES_ALIX1C

config RAMBASE
	hex
	default 0x4000
	depends on BOARD_PCENGINES_ALIX1C
