if BOARD_EMULATION_QEMU_X86

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select SOUTHBRIDGE_INTEL_I82371EB
	select ROMCC
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select BOARD_ROMSIZE_KB_256
	select TINY_BOOTBLOCK

config MAINBOARD_DIR
	string
	default emulation/qemu-x86

config MAINBOARD_PART_NUMBER
	string
	default "QEMU x86"

config IRQ_SLOT_COUNT
	int
	default 6

endif # BOARD_EMULATION_QEMU_X86
