config BOARD_EMULATION_QEMU_X86
	bool "QEMU x86"
	select ARCH_X86
	select SOUTHBRIDGE_INTEL_I82371EB
	select CPU_EMULATION_QEMU_X86
	select HAVE_PIRQ_TABLE
	select BOARD_ROMSIZE_KB_256
	select WARNINGS_ARE_ERRORS
	select TINY_BOOTBLOCK

config MAINBOARD_DIR
	string
	default emulation/qemu-x86
	depends on BOARD_EMULATION_QEMU_X86

config MAINBOARD_PART_NUMBER
	string
	default "QEMU x86"
	depends on BOARD_EMULATION_QEMU_X86

config IRQ_SLOT_COUNT
	int
	default 6
	depends on BOARD_EMULATION_QEMU_X86
