if VENDOR_AMD

choice
	prompt "Mainboard model"

source "src/mainboard/amd/*/Kconfig.name"

endchoice

source "src/mainboard/amd/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "AMD"

endif # VENDOR_AMD
