config CPU_INTEL_SOCKET_FCBGA559
	bool
	help
	  Select this socket on Intel Pineview

if CPU_INTEL_SOCKET_FCBGA559

config SOCKET_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_MODEL_106CX
	select MMX
	select CPU_HAS_L2_ENABLE_MSR

config DCACHE_RAM_BASE
	hex
	default 0xfefc0000

config DCACHE_RAM_SIZE
	hex
	default 0x8000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x2000
	help
	  The amount of anticipated stack usage in CAR by bootblock and
	  other stages.

config MAX_CPUS
	int
	default 4

endif
