config CPU_ARMLTD_CORTEX_A9
	depends on ARCH_ARMV7
	bool
	select EARLY_CONSOLE
	default n

if CPU_ARMLTD_CORTEX_A9

config BOOTBLOCK_CPU_INIT
	string
	default "cpu/armltd/cortex-a9/bootblock.c"
	help
	  CPU/SoC-specific bootblock code.

endif
