if BOARD_BCOM_WINNETP680

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_VIA_C7
	select NORTHBRIDGE_VIA_CN700
	select SOUTHBRIDGE_VIA_VT8237R
	select SUPERIO_WINBOND_W83697HF
	select HAVE_PIRQ_TABLE
	select HAVE_OPTION_TABLE
	select UDELAY_TSC
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default bcom/winnetp680

config MAINBOARD_PART_NUMBER
	string
	default "WinNET P680"

config IRQ_SLOT_COUNT
	int
	default 10

endif # BOARD_BCOM_WINNETP680
