# SPDX-License-Identifier: GPL-2.0-or-later
# This file is part of the coreboot project.

config EC_51NB_NPCE985LA0DX
	bool
	default n
	help
	  Support for the 51NB NPCE985LA0DX EC

if EC_51NB_NPCE985LA0DX

comment "Please select the following otherwise your laptop cannot be powered on."

config EC_51NB_NPCE985LA0DX_FIRMWARE
	bool "Add firmware image for 51NB NPCE985LA0DX EC"
	depends on EC_51NB_NPCE985LA0DX
	default n
	help
	  Select this option to add the firmware blob for the 51NB EC.
	  You need this blob to power on your machine.

config EC_51NB_NPCE985LA0DX_FW
	string "51NB EC firmware path"
	depends on EC_51NB_NPCE985LA0DX_FIRMWARE
	default "ec.bin"
	help
	  The path and filename of the file to use as 51NB firmware.
endif
