# SPDX-License-Identifier: GPL-2.0-only

config NORTHBRIDGE_AMD_AGESA
	bool

if NORTHBRIDGE_AMD_AGESA

config BOTTOMIO_POSITION
	hex "Bottom of 32-bit IO space"
	default 0x80000000
	help
	  If PCI peripherals with big BARs are connected to the system
	  the bottom of the IO must be decreased to allocate such devices.

	  Declare the beginning of the 128MB-aligned MMIO region.  This
	  option is useful when PCI peripherals requesting large address
	  ranges are present, for example, graphic cards.

config CONSOLE_VGA_MULTI
	bool
	default n

config S3_VGA_ROM_RUN
	bool
	default n

source "src/northbridge/amd/agesa/*/Kconfig"

# TODO: Reservation for heap seems excessive
config HEAP_SIZE
	hex
	default 0xc0000

endif # NORTHBRIDGE_AMD_AGESA
