##
## This file is part of the coreboot project.
##
## Copyright (C) 2007 coresystems GmbH
## (Written by Stefan Reinauer <stepan@coresystems.de> for coresystems GmbH)
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA
##

choice
	prompt "Mainboard model"
	depends on VENDOR_PCENGINES

config BOARD_PCENGINES_ALIX1C
	bool "ALIX.1C"
	select ARCH_X86
	select CPU_AMD_GEODELX
	select NORTHBRIDGE_AMD_GEODELX
	select SOUTHBRIDGE_AMD_CS5536
	select SUPERIO_WINBOND_W83627HF
	select PIRQ_TABLE
	help
	  PC Engines ALIX.1C.

config BOARD_PCENGINES_ALIX2C3
	bool "ALIX.2C3"
	select ARCH_X86
	select CPU_AMD_GEODELX
	select NORTHBRIDGE_AMD_GEODELX
	select SOUTHBRIDGE_AMD_CS5536
	select PIRQ_TABLE
	help
	  PC Engines ALIX.2C3.

endchoice

config MAINBOARD_DIR
	string
	default pcengines/alix1c
	depends BOARD_PCENGINES_ALIX1C

config MAINBOARD_DIR
	string
	default pcengines/alix2c3
	depends BOARD_PCENGINES_ALIX2C3
