##
## This file is part of the coreboot project.
##
## Copyright 2014 Google Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_GOOGLE_STORM

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_QC_IPQ806X
	select BOARD_ROMSIZE_KB_8192
	select COMMON_CBFS_SPI_WRAPPER
	select DRIVERS_I2C_WW_RING
	select HAVE_HARD_RESET
	select MAINBOARD_HAS_CHROMEOS
	select SPI_FLASH
	select SPI_FLASH_SPANSION
	select SPI_FLASH_STMICRO
	select DRIVERS_UART
	select MAINBOARD_HAS_I2C_TPM_GENERIC
	select MAINBOARD_HAS_TPM1

config VBOOT
	select VBOOT_DISABLE_DEV_ON_RECOVERY
	select VBOOT_WIPEOUT_SUPPORTED

config BOARD_VARIANT_AP148
	bool "pick this to build an image for ap148"
	default n

config MAINBOARD_DIR
	string
	default google/storm

config MAINBOARD_PART_NUMBER
	string
	default "AP148" if BOARD_VARIANT_AP148
	default "Storm"

config DRAM_SIZE_MB
	int
	default 512 if BOARD_VARIANT_AP148
	default 1024

config DRIVER_TPM_I2C_BUS
	hex
	default 0x1

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x20

config GBB_HWID
	string
	depends on CHROMEOS
	default "Storm TEST 1"
endif # BOARD_GOOGLE_STORM
