## SPDX-License-Identifier: GPL-2.0-only

config SOC_UCB_RISCV
	select ARCH_RISCV_S
	select ARCH_RISCV_U
	select ARCH_RISCV_PMP
	select ARCH_BOOTBLOCK_RISCV
	select ARCH_VERSTAGE_RISCV
	select ARCH_ROMSTAGE_RISCV
	select ARCH_RAMSTAGE_RISCV
	select RISCV_USE_ARCH_TIMER
	select FLATTENED_DEVICE_TREE
	bool
	default n

if SOC_UCB_RISCV

if ARCH_RISCV_RV64

config RISCV_ARCH
	string
	default "rv64imafd"

config RISCV_ABI
	string
	default "lp64d"

config RISCV_CODEMODEL
	string
	default "medany"

endif

if ARCH_RISCV_RV32

config RISCV_ARCH
	string
	default "rv32im"

config RISCV_ABI
	string
	default "ilp32"

config RISCV_CODEMODEL
	string
	default "medany"

endif

config RISCV_WORKING_HARTID
	int
	default 0

endif
