config SOC_UCB_RISCV
	select ARCH_RISCV
	select ARCH_BOOTBLOCK_RISCV
	select ARCH_VERSTAGE_RISCV
	select ARCH_ROMSTAGE_RISCV
	select ARCH_RAMSTAGE_RISCV
	select BOOTBLOCK_CONSOLE
	select GENERIC_UDELAY
	select HAVE_MONOTONIC_TIMER
	select RISCV_USE_ARCH_TIMER
	bool
	default n

if SOC_UCB_RISCV

config RISCV_ARCH
	string
	default "rv64imafd"

config RISCV_ABI
	string
	default "lp64d"

config RISCV_CODEMODEL
	string
	default "medany"

endif
