if BOARD_VIA_VT8454C

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_VIA_C7
	select NORTHBRIDGE_VIA_CX700
	select SUPERIO_VIA_VT1211
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default via/vt8454c

config MAINBOARD_PART_NUMBER
	string
	default "VT8454c"

config IRQ_SLOT_COUNT
	int
	default 15

endif # BOARD_VIA_VT8454C

