config CPU_INTEL_SOCKET_P
	bool

if CPU_INTEL_SOCKET_P

config SOCKET_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_MODEL_1067X
	select CPU_INTEL_MODEL_6FX
	select MMX

config DCACHE_RAM_BASE
	hex
	default 0xfefc0000

config DCACHE_RAM_SIZE
	hex
	default 0x10000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x2000

config MAX_CPUS
	int
	default 4

endif
