comment "Gru"

config BOARD_GOOGLE_KEVIN
	bool "->  Kevin (Samsung Chromebook Plus)"
	select BOARD_GOOGLE_GRU_COMMON

config BOARD_GOOGLE_GRU
	bool "->  Gru"
	select BOARD_GOOGLE_GRU_COMMON

config BOARD_GOOGLE_BOB
	bool "->  Bob (Asus Chromebook Flip C101PA)"
	select BOARD_GOOGLE_GRU_COMMON

config BOARD_GOOGLE_SCARLET
	bool "->  Scarlet"
	select BOARD_GOOGLE_GRU_COMMON

config BOARD_GOOGLE_NEFARIO
	bool "->  Nefario"
	select BOARD_GOOGLE_GRU_COMMON

config BOARD_GOOGLE_RAINIER
	bool "->  Rainier"
	select BOARD_GOOGLE_GRU_COMMON
