## SPDX-License-Identifier: GPL-2.0-only

if BOARD_RODA_RV11 || BOARD_RODA_RW11

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select SYSTEM_TYPE_LAPTOP
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SOUTHBRIDGE_INTEL_C216
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_ACPI_RESUME
	select EC_RODA_IT8518
	select SERIRQ_CONTINUOUS_MODE
	select MAINBOARD_HAS_LIBGFXINIT
	select SUPERIO_ITE_IT8783EF if BOARD_RODA_RW11
	select MAINBOARD_USES_IFD_GBE_REGION

config MAINBOARD_DIR
	default "roda/rv11"

config VARIANT_DIR
	default "rv11" if BOARD_RODA_RV11
	default "rw11" if BOARD_RODA_RW11

config DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/devicetree.cb"

config MAINBOARD_PART_NUMBER
	default "Lizard RW11" if BOARD_RODA_RW11
	default "Lizard RV11"

endif # BOARD_RODA_RV11 || BOARD_RODA_RW11
