if BOARD_BROADCOM_BLAST

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_AMD_SOCKET_940
	select NORTHBRIDGE_AMD_AMDK8
	select SOUTHBRIDGE_BROADCOM_BCM5780
	select SOUTHBRIDGE_BROADCOM_BCM5785
	select SUPERIO_NSC_PC87417
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select BOARD_ROMSIZE_KB_512
	select SB_HT_CHAIN_UNITID_OFFSET_ONLY
	select QRANK_DIMM_SUPPORT
	select DRIVERS_I2C_I2CMUX2

config MAINBOARD_DIR
	string
	default broadcom/blast

config DCACHE_RAM_BASE
	hex
	default 0xcf000

config DCACHE_RAM_SIZE
	hex
	default 0x01000

config APIC_ID_OFFSET
	hex
	default 0x0

config SB_HT_CHAIN_ON_BUS0
	int
	default 1

config MAINBOARD_PART_NUMBER
	string
	default "Blast"

config MAX_CPUS
	int
	default 4

config MAX_PHYSICAL_CPUS
	int
	default 2

config HT_CHAIN_END_UNITID_BASE
	hex
	default 0x1

config HT_CHAIN_UNITID_BASE
	hex
	default 0x6

config SB_HT_CHAIN_ON_BUS0
	int
	default 2

config IRQ_SLOT_COUNT
	int
	default 11

endif # BOARD_BROADCOM_BLAST
