if VENDOR_RAZER

choice
	prompt "Mainboard model"

source "src/mainboard/razer/*/Kconfig.name"

endchoice

source "src/mainboard/razer/*/Kconfig"

config MAINBOARD_VENDOR
	default "RAZER"

endif # VENDOR_RAZER
