if BOARD_KONTRON_986LCD_M

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_M
	select NORTHBRIDGE_INTEL_I945
	select NORTHBRIDGE_INTEL_SUBTYPE_I945GM
	select CHECK_SLFRCS_ON_RESUME
	select SOUTHBRIDGE_INTEL_I82801GX
	select SUPERIO_WINBOND_W83627THG
	select HAVE_ACPI_TABLES
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select HAVE_OPTION_TABLE
	select HAVE_ACPI_RESUME
	select BOARD_ROMSIZE_KB_1024
	select INTEL_INT15
	select OVERRIDE_CLOCK_DISABLE
	select BOOT_DEVICE_NOT_SPI_FLASH

config MAINBOARD_DIR
	default "kontron/986lcd-m"

config MAINBOARD_PART_NUMBER
	default "986LCD-M"

config IRQ_SLOT_COUNT
	int
	default 18

endif # BOARD_KONTRON_986LCD_M
