## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_BAP

choice
	prompt "Mainboard model"

source "src/mainboard/bap/*/Kconfig.name"

endchoice

source "src/mainboard/bap/*/Kconfig"

config MAINBOARD_VENDOR
	default "BAP"

endif # VENDOR_BAP
