target /home/fox/build/freebios1/stpc
mainboard stpc/elite
biosbase 0xffff0000

option CONFIG_COMPRESS=0
option ELITE_GPCLOCK_INIT=1

option SERIAL_CONSOLE=1
option TTYS0_BAUD=38400
option DEFAULT_CONSOLE_LOGLEVEL=9
#option MAXIMUM_CONSOLE_LOGLEVEL=9
option DEBUG=1

# option ROM_IMAGE_SIZE=131072
option ROM_SIZE=131072
option USE_GENERIC_ROM=1
option ZKERNEL_START=0xfffe0000
option USE_ELF_BOOT=1

option PAYLOAD_SIZE=65536
payload /home/fox/build/filo-0.4/filo.elf
