# FIXME: There is no such board, "J7F24" is probably too generic and/or wrong.
if BOARD_JETWAY_J7F24

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_VIA_C7
	select NORTHBRIDGE_VIA_CN700
	select SOUTHBRIDGE_VIA_VT8237R
	select SUPERIO_FINTEK_F71805F
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default jetway/j7f24

config MAINBOARD_PART_NUMBER
	string
	default "J7f24"

config IRQ_SLOT_COUNT
	int
	default 10

endif # BOARD_JETWAY_J7F24
