## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASUS_H81M_K

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select NORTHBRIDGE_INTEL_HASWELL
	select REALTEK_8168_RESET
	select RT8168_SET_LED_MODE
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT
	select SUPERIO_NUVOTON_COMMON_COM_A
	select SUPERIO_NUVOTON_NCT5539D

config CBFS_SIZE
	default 0x680000

config MAINBOARD_DIR
	default "asus/h81m_k"

config MAINBOARD_PART_NUMBER
	default "H81M-K"

endif
