## SPDX-License-Identifier: GPL-2.0-only

config CPU_QEMU_X86
	bool
	select ARCH_X86
	select HAVE_EXP_X86_64_SUPPORT
	select UDELAY_TSC
	select TSC_MONOTONIC_TIMER
	select UNKNOWN_TSC_RATE

if CPU_QEMU_X86

choice
	prompt "AP init"
	default CPU_QEMU_X86_LAPIC_INIT

config CPU_QEMU_X86_LAPIC_INIT
	bool "Legacy serial LAPIC init"
	select LEGACY_SMP_INIT

config CPU_QEMU_X86_PARALLEL_MP
	bool "Parallel MP init"

endchoice

# coreboot i440fx does not support SMM
choice
	prompt "SMM support"
	default CPU_QEMU_X86_ASEG_SMM
	depends on BOARD_EMULATION_QEMU_X86_Q35

config CPU_QEMU_X86_NO_SMM
	bool "No SMM"
	select NO_SMM

config CPU_QEMU_X86_ASEG_SMM
	bool "SMM in ASEG"
	select SMM_ASEG

config CPU_QEMU_X86_TSEG_SMM
	bool "SMM in TSEG"
	select SMM_TSEG
	depends on CPU_QEMU_X86_PARALLEL_MP

endchoice

config MAX_CPUS
	int
	default 32 if SMM_TSEG
	default 4

config HEAP_SIZE
	default 0x8000

endif
