if BOARD_ARIMA_HDAMA

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_AMD_SOCKET_940
	select NORTHBRIDGE_AMD_AMDK8
	select SOUTHBRIDGE_AMD_AMD8111
	select SOUTHBRIDGE_AMD_AMD8131
	select SUPERIO_NSC_PC87360
	select HAVE_PIRQ_TABLE
	select HAVE_OPTION_TABLE
	select HAVE_MP_TABLE
	select SB_HT_CHAIN_UNITID_OFFSET_ONLY
	select BOARD_ROMSIZE_KB_512
	select QRANK_DIMM_SUPPORT

config MAINBOARD_DIR
	string
	default arima/hdama

config APIC_ID_OFFSET
	hex
	default 0x0

config MAINBOARD_PART_NUMBER
	string
	default "HDAMA"

config HW_MEM_HOLE_SIZEK
	hex
	default 0x0

config MAX_CPUS
	int
	default 4

config MAX_PHYSICAL_CPUS
	int
	default 2

config SB_HT_CHAIN_ON_BUS0
	int
	default 1

config HT_CHAIN_END_UNITID_BASE
	hex
	default 0x20

config HT_CHAIN_UNITID_BASE
	hex
	default 0x1

config IRQ_SLOT_COUNT
	int
	default 9

endif # BOARD_ARIMA_HDAMA
