if VENDOR_JETWAY

choice
	prompt "Mainboard model"

source "src/mainboard/jetway/*/Kconfig.name"

endchoice

source "src/mainboard/jetway/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Jetway"

endif # VENDOR_JETWAY
