if BOARD_MSI_MS7135

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_AMD_SOCKET_754
	select NORTHBRIDGE_AMD_AMDK8
	select SOUTHBRIDGE_NVIDIA_CK804
	select SUPERIO_WINBOND_W83627THG
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select BOARD_ROMSIZE_KB_512
	select CK804_USE_NIC
	select CK804_USE_ACI
	select QRANK_DIMM_SUPPORT
	select HAVE_ACPI_TABLES

config MAINBOARD_DIR
	string
	default msi/ms7135

config APIC_ID_OFFSET
	hex
	default 0x0

config MEM_TRAIN_SEQ
	int
	default 2

config MAINBOARD_PART_NUMBER
	string
	default "MS-7135"

config MAX_CPUS
	int
	default 2

config MAX_PHYSICAL_CPUS
	int
	default 1

config HT_CHAIN_UNITID_BASE
	hex
	default 0

config HT_CHAIN_END_UNITID_BASE
	hex
	default 0x20

config SB_HT_CHAIN_ON_BUS0
	int
	default 2

config IRQ_SLOT_COUNT
	int
	default 13

config CK804_PCI_E_X
	int
	default 0

endif # BOARD_MSI_MS7135
