if BOARD_INTEL_WTM2

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select SOC_INTEL_BROADWELL
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_ACPI_RESUME
	select HAVE_SMI_HANDLER
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_LPC_TPM
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select INTEL_INT15

config CHROMEOS
	select CHROMEOS_RAMOOPS_DYNAMIC
	select CHROMEOS_VBNV_CMOS

config MAINBOARD_DIR
	string
	default intel/wtm2

config MAINBOARD_PART_NUMBER
	string
	default "WHITETIP MOUNTAIN 2"


config MAX_CPUS
	int
	default 16

config VGA_BIOS_FILE
	string
	default "pci8086,0166.rom"

config HAVE_IFD_BIN
	bool
	default n

config HAVE_ME_BIN
	bool
	default n

endif # BOARD_INTEL_WTM2
