if ARCH_X86

config HAVE_DEBUG_CAR
	bool

config DEBUG_CAR
	bool "Output verbose Cache-as-RAM debug messages"
	depends on HAVE_DEBUG_CAR

config DISPLAY_MTRRS
	bool "Display intermediate MTRR settings"

config DEBUG_SMM_RELOCATION
	bool "Debug SMM relocation code"
	depends on HAVE_SMI_HANDLER && SMM_ASEG

endif # ARCH_X86
