config SERIAL_CPU_INIT
	bool
	default y

config WAIT_BEFORE_CPUS_INIT
	bool
	default n

config UDELAY_TSC
	bool
	default n

config TSC_X86RDTSC_CALIBRATE_WITH_TIMER2
	bool
	default n

config XIP_ROM_BASE
	hex
	default 0xfffe0000

config XIP_ROM_SIZE
	hex
	default 0x20000
