/* SPDX-License-Identifier: GPL-2.0-only */

#ifndef _SMM_START32_OFFSET_H
#define _SMM_START32_OFFSET_H

/* This gets filled in after building the SMM stub */
#define SMM_START32_OFFSET ##START32_OFFSET##

#endif
