config MAINBOARD_NAME
	string
	default emulation/qemu-x86
	depends BOARD_EMULATION_QEMU_X86
	help
	  This is the default mainboard name.

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x15ad
	depends BOARD_EMULATION_QEMU_X86
	help
	  Mainboard specific PCI subsystem vendor ID.

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x1976
	depends BOARD_EMULATION_QEMU_X86
	help
	  Mainboard specific PCI subsystem device ID.

