if BOARD_GOOGLE_SAMUS

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select SOC_INTEL_BROADWELL
	select BOARD_ROMSIZE_KB_8192
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_PD
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_ACPI_RESUME
	select MMCONF_SUPPORT
	select HAVE_SMI_HANDLER
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_LPC_TPM
	select INTEL_INT15

config CHROMEOS
	select CHROMEOS_VBNV_CMOS
	select LID_SWITCH
	select EC_SOFTWARE_SYNC
	select VBOOT_EC_SLOW_UPDATE
	select VBOOT_OPROM_MATTERS
	select CHROMEOS_RAMOOPS_DYNAMIC
	select VIRTUAL_DEV_SWITCH

config MAINBOARD_DIR
	string
	default google/samus

config MAINBOARD_PART_NUMBER
	string
	default "Samus"


config MAX_CPUS
	int
	default 8

config VGA_BIOS_FILE
	string
	default "pci8086,0166.rom"

config HAVE_IFD_BIN
	bool
	default n

config HAVE_ME_BIN
	bool
	default n

endif
