if VENDOR_SAMSUNG

choice
	prompt "Mainboard model"

config BOARD_SAMSUNG_LUMPY
	bool "Lumpy"

endchoice

source "src/mainboard/samsung/lumpy/Kconfig"

config MAINBOARD_VENDOR
	string
	default "SAMSUNG"

endif # VENDOR_SAMSUNG
