##
## This file is part of the coreboot project.
##
## Copyright (C) 2009 Uwe Hermann <uwe@hermann-uwe.de>
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
##
if VENDOR_ABIT

choice
	prompt "Mainboard model"

config BOARD_ABIT_BE6_II_V2_0
	bool "BE6-II V2.0"

endchoice

source "src/mainboard/abit/be6-ii_v2_0/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Abit"

endif # VENDOR_ABIT
