config SUPERIO_SMSC_FDC37M60X
	bool
config SUPERIO_SMSC_FDC37N972
	bool
config SUPERIO_SMSC_LPC47B272
	bool
config SUPERIO_SMSC_LPC47B397
	bool
config SUPERIO_SMSC_LPC47M10X
	bool
config SUPERIO_SMSC_LPC47M15X
	bool
config SUPERIO_SMSC_LPC47N217
	bool
config SUPERIO_SMSC_LPC47N227
	bool
config SUPERIO_SMSC_SIO10N268
	bool
config SUPERIO_SMSC_SMSCSUPERIO
	bool
