if VENDOR_LOWRISC

choice
	prompt "Mainboard model"

source "src/mainboard/lowrisc/*/Kconfig.name"

endchoice

source "src/mainboard/lowrisc/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "lowrisc"

endif # VENDOR_LOWRISC
