# SPDX-License-Identifier: GPL-2.0-only

config NORTHBRIDGE_INTEL_GM45
	bool

if NORTHBRIDGE_INTEL_GM45

config NORTHBRIDGE_SPECIFIC_OPTIONS
	def_bool y
	select HAVE_DEBUG_RAM_SETUP
	select VGA
	select INTEL_EDID
	select INTEL_GMA_ACPI
	select INTEL_GMA_SSC_ALTERNATE_REF
	select HAVE_EXP_X86_64_SUPPORT

config VBOOT
	select VBOOT_STARTS_IN_BOOTBLOCK

config CBFS_SIZE
	default 0x100000

config VGA_BIOS_ID
	string
	default "8086,2a42"

config ECAM_MMCONF_BASE_ADDRESS
	default 0xf0000000

config ECAM_MMCONF_BUS_NUMBER
	int
	default 64

config SMM_RESERVED_SIZE
	hex
	default 0x100000

config INTEL_GMA_BCLV_OFFSET
	default 0x61254

config INTEL_GMA_BCLM_OFFSET
	default 0x61256

config FIXED_MCHBAR_MMIO_BASE
	default 0xfed14000

config FIXED_DMIBAR_MMIO_BASE
	default 0xfed18000

config FIXED_EPBAR_MMIO_BASE
	default 0xfed19000

endif
