##
## This file is part of the coreboot project.
##
## Copyright (C) 2018 Facebook Inc
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
if VENDOR_CAVIUM

choice
	prompt "Mainboard model"

source "src/mainboard/cavium/*/Kconfig.name"

endchoice

source "src/mainboard/cavium/*/Kconfig"

config MAINBOARD_VENDOR
	string "Mainboard Vendor"
	default "Cavium"

endif # VENDOR_CAVIUM
