if VENDOR_HP

choice
	prompt "Mainboard model"

config BOARD_HP_DL145_G1
	bool "ProLiant DL145 G1"
config BOARD_HP_DL145_G3
	bool "ProLiant DL145 G3"
config BOARD_HP_DL165_G6_FAM10
	bool "ProLiant DL165 G6 Fam10"
config BOARD_HP_E_VECTRA_P2706T
	bool "e-Vectra P2706T"

endchoice

source "src/mainboard/hp/dl145_g1/Kconfig"
source "src/mainboard/hp/dl145_g3/Kconfig"
source "src/mainboard/hp/dl165_g6_fam10/Kconfig"
source "src/mainboard/hp/e_vectra_p2706t/Kconfig"

config MAINBOARD_VENDOR
	string
	default "HP"

endif # VENDOR_HP
