choice
	prompt "Mainboard model"
	depends on VENDOR_IWILL
        
source "src/mainboard/iwill/dk8_htx/Kconfig"
source "src/mainboard/iwill/dk8s2/Kconfig"
source "src/mainboard/iwill/dk8x/Kconfig"

endchoice

