if BOARD_TYAN_S2735

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_INTEL_SOCKET_MPGA604
	select NORTHBRIDGE_INTEL_E7501
	select SOUTHBRIDGE_INTEL_I82870
	select SOUTHBRIDGE_INTEL_I82801EX
	select SUPERIO_WINBOND_W83627HF
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select UDELAY_TSC
	select HAVE_OPTION_TABLE
	select CACHE_AS_RAM
	select USE_WATCHDOG_ON_BOOT
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default tyan/s2735

config DCACHE_RAM_BASE
	hex
	default 0xcf000

config DCACHE_RAM_SIZE
	hex
	default 0x1000

config MAINBOARD_PART_NUMBER
	string
	default "S2735"

config IRQ_SLOT_COUNT
	int
	default 15

config MAX_CPUS
	int
	default 4

endif # BOARD_TYAN_S2735
