## SPDX-License-Identifier: GPL-2.0-only

comment "Asurada"

config BOARD_GOOGLE_ASURADA
	bool "->  Asurada"

config BOARD_GOOGLE_HAYATO
	bool "->  Hayato"

config BOARD_GOOGLE_SPHERION
	bool "->  Spherion (Acer Chromebook 514 (CB514-2H, CB514-2HT))"
