if VENDOR_LINUTOP

choice
	prompt "Mainboard model"

source "src/mainboard/linutop/*/Kconfig.name"

endchoice

config MAINBOARD_VENDOR
	string
	default "Linutop"

source "src/mainboard/linutop/*/Kconfig"

endif # VENDOR_LINUTOP
