config CRB_TPM
	bool
	help
	  CRB TPM driver is enabled!

config CRB_TPM_BASE_ADDRESS
	hex
	default 0xfed40000
	help
	  Base Address of the CRB TPM Command Structure

config MAINBOARD_HAS_CRB_TPM
	bool
	default n
	select CRB_TPM
	help
	  Mainboard has Command Response Buffer support
