config BOARD_INTEL_TRUXTON
	bool "EP80579 devkit (Truxton)"
	select ARCH_X86
	select CPU_INTEL_EP80579
	select NORTHBRIDGE_INTEL_I3100
	select SOUTHBRIDGE_INTEL_I3100
	select SUPERIO_INTEL_I3100
	select SUPERIO_SMSC_SMSCSUPERIO
	select ROMCC
	select HAVE_HARD_RESET
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select UDELAY_TSC
	select BOARD_ROMSIZE_KB_2048

config MAINBOARD_DIR
	string
	default intel/truxton
	depends on BOARD_INTEL_TRUXTON

config MAINBOARD_PART_NUMBER
	string
	default "Truxton"
	depends on BOARD_INTEL_TRUXTON

config IRQ_SLOT_COUNT
	int
	default 1
	depends on BOARD_INTEL_TRUXTON

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x8086
	depends on BOARD_INTEL_TRUXTON

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x2680
	depends on BOARD_INTEL_TRUXTON

config MAX_CPUS
	int
	default 4
	depends on BOARD_INTEL_TRUXTON
