if BOARD_IEI_PCISA_LX_800_R10

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_AMD_GEODE_LX
	select NORTHBRIDGE_AMD_LX
	select SOUTHBRIDGE_AMD_CS5536
	select SUPERIO_WINBOND_W83627HF
	select HAVE_PIRQ_TABLE
	select PIRQ_ROUTE
	select BOARD_ROMSIZE_KB_256
	select POWER_BUTTON_FORCE_ENABLE
	select PLL_MANUAL_CONFIG
	select CORE_GLIU_500_266

config MAINBOARD_DIR
	string
	default iei/pcisa-lx-800-r10

config MAINBOARD_PART_NUMBER
	string
	default "PCISA-LX-800-R10"

config IRQ_SLOT_COUNT
	int
	default 9

config PLLMSRlo
	hex
	default 0x00DE6000

endif # BOARD_IEI_PCISA_LX_800_R10
