config SOC_INTEL_COMMON_BLOCK_GSPI
	bool
	help
	  Intel Processor Common GSPI support

config SOC_INTEL_COMMON_BLOCK_GSPI_CLOCK_MHZ
	int
	depends on SOC_INTEL_COMMON_BLOCK_GSPI
	help
	  The input clock speed into the SPI controller IP block, in MHz.
	  No default is set here as this is an SOC-specific value
	  and must be provided by the SOC.

config SOC_INTEL_COMMON_BLOCK_GSPI_MAX
	int
	depends on SOC_INTEL_COMMON_BLOCK_GSPI
	help
	  Maximum number of GSPI controllers supported by the PCH. SoC
	  must define this config if SOC_INTEL_COMMON_BLOCK_GSPI is
	  selected.

config SOC_INTEL_COMMON_BLOCK_GSPI_VERSION_2
	bool
	default n
	select SOC_INTEL_COMMON_BLOCK_GSPI
	help
	  Intel Processor Common GSPI support with quirks to handle
	  SPI_CS_CONTROL changes introduced in CNL.
