config I2C_TPM
	bool
	help
	  I2C TPM driver is enabled!

config MAINBOARD_HAS_I2C_TPM_ATMEL
	bool
	default n
	select I2C_TPM
	help
	  Board has an Atmel I2C TPM support

config MAINBOARD_HAS_I2C_TPM_CR50
	bool
	default n
	select I2C_TPM
	help
	  Board has a Cr50 I2C TPM support

config MAINBOARD_HAS_I2C_TPM_GENERIC
	bool
	default n
	select I2C_TPM
	help
	  Board has a generic I2C TPM support

config DRIVER_TIS_DEFAULT
	bool
	depends on I2C_TPM
	default n if MAINBOARD_HAS_I2C_TPM_ATMEL
	default y

config DRIVER_TPM_I2C_BUS
	hex "I2C TPM chip bus"
	default 0x9 # FIXME, workaround for Kconfig BS
	depends on I2C_TPM

config DRIVER_TPM_I2C_ADDR
	hex "I2C TPM chip address"
	default 0x2 # FIXME, workaround for Kconfig BS
	depends on I2C_TPM

config DRIVER_I2C_TPM_ACPI
	depends on I2C_TPM
	bool "Generate I2C TPM ACPI device"
	default y if ARCH_X86 && I2C_TPM
	default n

config DRIVER_TPM_DISPLAY_TIS_BYTES
	bool "TPM: Display the TIS transactions to I2C TPM chip"
	default n
	depends on I2C_TPM
