config BOARD_PRODRIVE_ATLAS_BASEBOARD
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select INTEL_LPSS_UART_FOR_CONSOLE
	select EC_ACPI
	select FSP_TYPE_IOT
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_TPM2
	select MAINBOARD_USES_IFD_EC_REGION
	select MEMORY_MAPPED_TPM
	select PCIEXP_SUPPORT_RESIZABLE_BARS
	select SOC_INTEL_ALDERLAKE_PCH_P
	select SOC_INTEL_ALDERLAKE_S3

if BOARD_PRODRIVE_ATLAS_BASEBOARD

config ATLAS_ENABLE_SAGV
	bool "Enable SaGv"
	default y

config MAINBOARD_FAMILY
	string
	default "PRODRIVE_ATLAS_SERIES"

config MAINBOARD_PART_NUMBER
	default "Atlas ADL-P"

config MAINBOARD_DIR
	default "prodrive/atlas"

config MAINBOARD_SMBIOS_MANUFACTURER
	string
	default "Prodrive Technologies B.V."

config DIMM_SPD_SIZE
	default 512

config UART_FOR_CONSOLE
	int
	default 0

config CBFS_SIZE
	default 0x800000

# This platform has limited means to display POST codes
config NO_POST
	default y

config PCIEXP_DEFAULT_MAX_RESIZABLE_BAR_BITS
	int
	default 32

endif #BOARD_PRODRIVE_ATLAS_BASEBOARD
