if BOARD_INTEL_KUNIMITSU

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOARD_ID_AUTO
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_NAU8825
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_ACPI_MEMMAP
	select EC_GOOGLE_CHROMEEC_LPC
	select EC_GOOGLE_CHROMEEC_MEC
	select EC_GOOGLE_CHROMEEC_PD
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_SMI_HANDLER
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_LPC_TPM
	select SOC_INTEL_SKYLAKE

choice
	prompt "FSP driver"
	default KUNIMITSU_USES_FSP1_1

config KUNIMITSU_USES_FSP1_1
	bool "FSP driver 1.1"

config KUNIMITSU_USES_FSP2_0
	bool "FSP driver 2.0"
	select MAINBOARD_USES_FSP2_0

endchoice

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select VBOOT_LID_SWITCH

config IRQ_SLOT_COUNT
	int
	default 18

config MAINBOARD_DIR
	string
	default "intel/kunimitsu"

config MAINBOARD_PART_NUMBER
	string
	default "Kunimitsu"

config MAINBOARD_FAMILY
	string
	default "Intel_Kunimitsu"

config MAX_CPUS
	int
	default 8

config TPM_PIRQ
	hex
	default 0x18  # GPP_E0_IRQ

config INCLUDE_NHLT_BLOBS
	bool "Include blobs for audio."
	select NHLT_DMIC_2CH
	select NHLT_DMIC_4CH
	select NHLT_MAX98357
	select NHLT_NAU88L25
	select NHLT_SSM4567

config GBB_HWID
	string
	depends on CHROMEOS
	default "KUNIMITSU TEST 8819"
endif
