if BOARD_INTEL_KUNIMITSU

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_GENERIC_MAX98357A
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_NAU8825
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_ACPI_MEMMAP
	select EC_GOOGLE_CHROMEEC_BOARDID
	select EC_GOOGLE_CHROMEEC_LPC
	select EC_GOOGLE_CHROMEEC_MEC
	select EC_GOOGLE_CHROMEEC_PD
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MEMORY_MAPPED_TPM
	select SOC_INTEL_SKYLAKE
	select HAVE_SPD_IN_CBFS

config DISABLE_HECI1_AT_PRE_BOOT
	default y

config VBOOT
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select VBOOT_LID_SWITCH

config MAINBOARD_DIR
	default "intel/kunimitsu"

config MAINBOARD_PART_NUMBER
	default "Kunimitsu"

config MAINBOARD_FAMILY
	string
	default "Intel_Kunimitsu"

config TPM_PIRQ
	hex
	default 0x18  # GPP_E0_IRQ

config INCLUDE_NHLT_BLOBS
	bool "Include blobs for audio."
	select NHLT_DMIC_2CH
	select NHLT_DMIC_4CH
	select NHLT_MAX98357
	select NHLT_NAU88L25
	select NHLT_SSM4567

config UART_FOR_CONSOLE
	int
	default 2

config USE_PM_ACPI_TIMER
	default n

endif
