if BOARD_VIA_PC2500E

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_VIA_C7
	select NORTHBRIDGE_VIA_CN700
	select SOUTHBRIDGE_VIA_VT8237R
	select SUPERIO_ITE_IT8716F
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select SMP
	select UDELAY_TSC
	select BOARD_ROMSIZE_KB_512

config MAINBOARD_DIR
	string
	default via/pc2500e

config MAINBOARD_PART_NUMBER
	string
	default "pc2500e"

config IRQ_SLOT_COUNT
	int
	default 10

config VGA_BIOS_FILE
	string
	default "M14CRT.ROM"

config VGA_BIOS_ID
	string
	default "1106,3344"

endif # BOARD_VIA_PC2500E
