
config BOARD_GOOGLE_BASEBOARD_HATCH
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select DRIVERS_SPI_ACPI
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_LPC
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_SPI_TPM_CR50
	select MAINBOARD_HAS_TPM2
	select SOC_INTEL_CANNONLAKE_MEMCFG_INIT
	select SOC_INTEL_COFFEELAKE
	select SYSTEM_TYPE_LAPTOP

if BOARD_GOOGLE_BASEBOARD_HATCH

config CHROMEOS
	bool
	default y
	select EC_GOOGLE_CHROMEEC_SWITCHES
	select GBB_FLAG_FORCE_DEV_SWITCH_ON
	select GBB_FLAG_FORCE_DEV_BOOT_USB
	select GBB_FLAG_FORCE_DEV_BOOT_LEGACY
	select GBB_FLAG_FORCE_MANUAL_RECOVERY
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select HAS_RECOVERY_MRC_CACHE
	select MRC_CLEAR_NORMAL_CACHE_ON_RECOVERY_RETRAIN
	select VBOOT_LID_SWITCH

config DEVICETREE
	string
	default "variants/baseboard/devicetree.cb"

config DIMM_MAX
	int
	default 2

config DIMM_SPD_SIZE
	int
	default 512

config DRIVER_TPM_SPI_BUS
	default 0x1

config UART_FOR_CONSOLE
	default 0

config GBB_HWID
	string
	depends on CHROMEOS
	default "HATCH TEST 1823" if BOARD_GOOGLE_HATCH

config MAINBOARD_DIR
	string
	default "google/hatch"

config MAINBOARD_FAMILY
	string
	default "Google_Hatch" if BOARD_GOOGLE_HATCH

config MAINBOARD_PART_NUMBER
	string
	default "Hatch" if BOARD_GOOGLE_HATCH

config MAINBOARD_VENDOR
	string
	default "Google"

config MAX_CPUS
	int
	default 8

config TPM_TIS_ACPI_INTERRUPT
	int
	default 53 # GPE0_DW1_21 (GPP_C21)

config VARIANT_DIR
	string
	default "hatch" if BOARD_GOOGLE_HATCH

config VBOOT
	select HAS_RECOVERY_MRC_CACHE
	select MRC_CLEAR_NORMAL_CACHE_ON_RECOVERY_RETRAIN
	select VBOOT_LID_SWITCH

endif # BOARD_GOOGLE_BASEBOARD_HATCH
