comment "Hatch"

config BOARD_GOOGLE_HATCH
	bool "->  Hatch"
	select BOARD_GOOGLE_BASEBOARD_HATCH
	select BOARD_ROMSIZE_KB_32768
	select SOC_INTEL_COMETLAKE

config BOARD_GOOGLE_HATCH_WHL
	bool "->  Hatch_whl"
	select BOARD_GOOGLE_BASEBOARD_HATCH
	select BOARD_ROMSIZE_KB_32768
	select SOC_INTEL_WHISKEYLAKE

config BOARD_GOOGLE_KOHAKU
	bool "->  Kohaku"
	select BOARD_GOOGLE_BASEBOARD_HATCH
	select BOARD_ROMSIZE_KB_16384
	select SOC_INTEL_COMETLAKE

config BOARD_GOOGLE_KINDRED
	bool "->  Kindred"
	select BOARD_GOOGLE_BASEBOARD_HATCH
	select BOARD_ROMSIZE_KB_16384
	select SOC_INTEL_COMETLAKE

config BOARD_GOOGLE_HELIOS
	bool "->  Helios"
	select BOARD_GOOGLE_BASEBOARD_HATCH
	select BOARD_ROMSIZE_KB_16384
	select SOC_INTEL_COMETLAKE
