
# Sample config file for ASUS CUA with DoC Millennium (as root)
target asus_cua 

# Asus CUA
mainboard asus/cua

# Enable Serial Console for debugging
option SERIAL_CONSOLE

# Enable MicroCode update and L2 Cache init for PII and PIII
option UPDATE_MICROCODE
option CONFIGURE_L2_CACHE

# use DOC MIL
option USE_DOC_MIL
docipl mainboard/asus/cua/ipl.S

# Use the internal VGA frame buffer device
# option HAVE_FRAMEBUFFER

# Path to your kernel (vmlinux)
linux ~/src/bios/linux-2.4.0-ali


# Kernel command line parameters
commandline root=/dev/hda1 console=ttyS0,115200 console=tty0 single
