# Note that this is RELATIVE TO WHERE YOU ARE WHEN YOU RUN THE 
# CONFIG TOOL. Make it absolute if you like
target /tmp/fbios/l440bx 

mainboard intel/l440bx

# Enable Serial Console for debugging
# It will come up at 115200,8n1
option SERIAL_CONSOLE=1

# Enable MicroCode update and L2 Cache init for PII and PIII
option UPDATE_MICROCODE
option CONFIGURE_L2_CACHE

# Use the internal VGA frame buffer device
#option HAVE_FRAMEBUFFER
option USE_CACHE_RAM=0
option USE_GENERIC_ROM=1
option USE_ELF_BOOT=0

#makedefine  PHLASH_BASE_NAME=p13-0125
#makedefine BOOT_IMAGE=/tftpboot/netboot.ebi
makedefine BOOT_IMAGE=vmlinux.bin.gz.block

# Path to your kernel (vmlinux)
# NOTE; you need a path to your test12 kernel here. 
linux /manpreet/freebios/linux 

# Kernel command line parameters
#commandline ro panic=5 root=/dev/hda5 console=ttyS0,115200 debug 3 


