# Config file for PCCHIPS m787cl+
# with vga and graphics logo display
# uses flash, ide, and optionally floppy
# no doc mem.
#
# by Steve M. Gehlbach  <steve@kesa.com>
#

# This will dump files in directory of /usr/src/pcchips
target /usr/src/pcchips787


# PCCHIPS m787cl+ mainboard
mainboard pcchips/m787cl+

#this sets the vga memory small since
#text console uses very little
option SMA_SIZE=0x80

option CONFIG_COMPRESS=0

# you have to relocate the gdt before
# jumping to linux if you put the flash code
# here.
biosbase 0xffff0000

# For printk_debug, set level to 8
# for printk_info, set level to 7
#option DEFAULT_CONSOLE_LOGLEVEL=8
#option DEFAULT_CONSOLE_LOGLEVEL=7
option DEFAULT_CONSOLE_LOGLEVEL=6

# STD_FLASH=1 is not necessary since we relocate the 
# gdt in chipinit.inc.  Turning on the shadow
# ram is thereofore okay.  It does not wipe out the gdt.
#option STD_FLASH=1

# Enable Serial Console for debugging
# Enable VGA and logo splash screen
option VIDEO_CONSOLE=1
option VIDEO_SHOW_LOGO=1

# 
# the logo is displayed for VIDEO_SHOW_LOGO seconds.
# Need to have to have a 128k rom since the logo image is at the
# beginning (0xfffe0000)
option VIDEO_SHOW_LOGO=10
option ROM_IMAGE_SIZE=131072
option PCX_FILE_LOCATION=0xfffe0000

option SERIAL_CONSOLE=1
#option SERIAL_POST=1

# setup delay using TSC
# also set option in cpu/p5 to use timer2 to calibrate
option CONFIG_UDELAY_TSC=1

#floppy is nice
option MUST_ENABLE_FLOPPY=1

# the floppy/ide needs linux.gz and a ramdisk
# at the offset in the command line below
#option BOOT_FLOPPY=1
option BOOT_IDE=1
option IDE_BOOT_DRIVE=2
#need to know size of partition table for ide
option ONE_TRACK=32

# Use the internal VGA frame buffer device
# very important; crashes otherwise
option HAVE_FRAMEBUFFER=1

# Path to your kernel (vmlinux)
#linux /usr/src/linux-2.4.19
linux /usr/src/linux

# Kernel command line parameters
#commandline root=/dev/hda2 console=ttyS0,38400n8 console=/dev/tty0
#commandline root=/dev/hda1 console=/dev/tty0 console=ttyS0,38400n8
#commandline root=/dev/hda1 ro
commandline root=/dev/hda1 ro reboot=h

#
# these actions put the pcx image file on the front of the bios.
# the image size is placed in the first 4 bytes then the pcx file
# important that ROM_IMAGE_SIZE be set to 128K or larger.
# The logo file is called linuxbioslogo.pcx and should be copied to the build directory
#
addaction linuxbios.rom dd if=$(TOP)/src/pc80/linuxbioslogo.pcx of=linuxbios.rom bs=1 seek=4 conv=notrunc;
addaction linuxbios.rom perl -e '@a=stat "$(TOP)/src/pc80/linuxbioslogo.pcx";$$a=pack("L",$$a[7]); print $$a' | dd of=linuxbios.rom bs=1 conv=notrunc

# copy to home dir where flash programmer can reach.
addaction linuxbios.rom /bin/cp -f linuxbios.rom $(HOME)/linuxbios_787.bin

