# Sample config file for SiS 550 SoC with DoC Millennium (as root)
# This will make a target directory of ./winfast
target sis550

# SiS 550 SoC demo mainboard
mainboard sis/550

# use DOC MIL
option USE_DOC_MIL=1
docipl northsouthbridge/sis/550/ipl.S

# Use the internal VGA frame buffer device
option HAVE_FRAMEBUFFER

# Path to your kernel (vmlinux)
linux /usr/src/linux

# Kernel command line parameters
commandline root=/dev/hda1 console=tty0 video=sisfb:1024x768-32@85,font:VGA8x16
