# Sample config file for Winfast 6300 to use Etherboot in ELF format
# This will make a target directory of ./winfast-elf-etherboot
target winfast-elf

# WinFast 6300 MAX mainboard
mainboard leadtek/winfast6300

# Enable Serial Console for debugging
option SERIAL_CONSOLE=1

# use DOC MIL
#option USE_DOC_MIL_PLUS
#option INTERLEAVE=2
option USE_DOC_MIL
docipl northsouthbridge/sis/630/ipl.S

# Enable MicroCode update and L2 Cache init for PII and PIII
option UPDATE_MICROCODE
option CONFIGURE_L2_CACHE

# Enable CPU Piple Line function, if your are not
# using PIII, this boost performance a lot
option ENABLE_SIS630_CPU_PIPELINE

# Use the internal VGA frame buffer device
option HAVE_FRAMEBUFFER

# some eariler SiS 630 parts have crappy internal LAN
option DISABLE_INTERNAL_DEVICES

# use ELF Loader to load Etherboot
option USE_ELF_BOOT=1

# USe the output of mkelfImage as our payload
payload /home/ollie/work/freebios/util/mkelfImage/elfImage

# Kernel command line parameters
commandline root=/dev/hda1 console=ttyS0,115200 console=tty0 video=sisfb:1024x768-32@85,font:VGA8x16
