# Sample config file for Winfast 6300 with DoC Millennium (as root)

# This will make a target directory of ./winfast
target winfast 

# WinFast 6300 MAX mainboard
mainboard leadtek/winfast6300

# Enable Serial Console for debugging
option SERIAL_CONSOLE

# Use the internal VGA frame buffer device
# Fixme: this does not effect the Makefile rules for docipl
option HAVE_FRAMEBUFFER

linux ~/src/bios/linux-2.4.0-test11.sis

option CMD_LINE='"root=/dev/hda1"'

