## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASUS_P5GC_MX

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_LGA775
	select NORTHBRIDGE_INTEL_I945
	select NORTHBRIDGE_INTEL_SUBTYPE_I945GC
	select SOUTHBRIDGE_INTEL_I82801GX
	select SUPERIO_WINBOND_W83627DHG
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select BOARD_ROMSIZE_KB_512
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select INTEL_GMA_HAVE_VBT

config MAINBOARD_DIR
	default "asus/p5gc-mx"

config MAINBOARD_PART_NUMBER
	default "P5GC-MX"

endif # BOARD_ASUS_P5GC_MX
