config CPU_AMD_SOCKET_940
	bool

if CPU_AMD_SOCKET_940

config SOCKET_SPECIFIC_OPTIONS
	def_bool y
	select K8_HT_FREQ_1G_SUPPORT
	select CPU_AMD_MODEL_FXX
	select X86_AMD_FIXED_MTRRS

config DCACHE_RAM_BASE
	hex
	default 0xc8000

config DCACHE_RAM_SIZE
	hex
	default 0x08000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x2000

config DCACHE_BSP_STACK_SLUSH
	hex
	default 0x1000

config DCACHE_AP_STACK_SIZE
	hex
	default 0x400

endif # CPU_AMD_SOCKET_940
