
config BOARD_GOOGLE_CHEZA_COMMON  # Umbrella option to be selected by variants
	def_bool n

if BOARD_GOOGLE_CHEZA_COMMON

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select COMMON_CBFS_SPI_WRAPPER
	select SOC_QUALCOMM_SDM845
	select SPI_FLASH
	select MAINBOARD_HAS_CHROMEOS

config VBOOT
	select VBOOT_VBNV_FLASH
	select VBOOT_MOCK_SECDATA
	select VBOOT_NO_BOARD_SUPPORT

config MAINBOARD_DIR
	string
	default google/cheza

config MAINBOARD_VENDOR
	string
	default "Google"

##########################################################
#### Update below when adding a new derivative board. ####
##########################################################

config MAINBOARD_PART_NUMBER
	string
	default "Cheza" if BOARD_GOOGLE_CHEZA

config GBB_HWID
	string
	depends on CHROMEOS
	default "CHEZA TEST 1859" if BOARD_GOOGLE_CHEZA

endif # BOARD_GOOGLE_CHEZA_COMMON
