menu "Console"

config DEFAULT_CONSOLE_LOGLEVEL
	int "Console log level"
	default "8"
	---help---
	  The level of log messages that gets printed. Possible values:

	  #define BIOS_EMERG    0  /* system is unusable               */
	  #define BIOS_ALERT    1  /* action must be taken immediately */
	  #define BIOS_CRIT     2  /* critical conditions              */
	  #define BIOS_ERR      3  /* error conditions                 */
	  #define BIOS_WARNING  4  /* warning conditions               */
	  #define BIOS_NOTICE   5  /* normal but significant condition */
	  #define BIOS_INFO     6  /* informational                    */
	  #define BIOS_DEBUG    7  /* debug-level messages             */
	  #define BIOS_SPEW     8  /* way too many details             */

config CONSOLE_SERIAL
	boolean "Support serial console (default)"
	default y
	---help---
	  Send LinuxBIOS output to serial console.

choice
	prompt "Serial console COM port"
	default CONSOLE_SERIAL_COM1
	depends CONSOLE_SERIAL

config CONSOLE_SERIAL_COM1
	bool "COM1/ttyS0"
	---help---
	  Serial console on COM1/ttyS0.

config CONSOLE_SERIAL_COM2
	bool "COM2/ttyS1"
	---help---
	  Serial console on COM2/ttyS1.

endchoice

choice
	prompt "Serial console speed"
	default CONSOLE_SERIAL_115200
	depends CONSOLE_SERIAL

config CONSOLE_SERIAL_115200
	bool "115200 bps"
	---help---
	  Set speed to 115200 bps.

config CONSOLE_SERIAL_57600
	bool "57600 bps"
	---help---
	  Set speed to 57600 bps.

config CONSOLE_SERIAL_38400
	bool "38400 bps"
	---help---
	  Set speed to 38400 bps.

config CONSOLE_SERIAL_19200
	bool "19200 bps"
	---help---
	  Set speed to 19200 bps.

config CONSOLE_SERIAL_9600
	bool "9600 bps"
	---help---
	  Set speed to 9600 bps.

endchoice

config CONSOLE_VGA
	boolean "Support VGA console"
	---help---
	  Send LinuxBIOS output to VGA console as soon as VGA is initialized.

config CONSOLE_USB
	boolean "Support USB2 debug console"
	---help---
	  Send LinuxBIOS output to USB debug console.

	  Note: This requires a USB2 controller which supports the
	  debug capability. USB2 controllers which are known to work:

	    * 10b9:5239 ALi Corporation USB 2.0 (USB PCI card)
	    * 10de:0088 nVidia MCP2A
	    * 10de:036d nVidia MCP55
	    * 8086:24dd Intel ICH5
	    * 8086:265c Intel ICH6
	    * 8086:268c Intel 631xESB/632xESB/3100
	    * 8086:27cc Intel ICH7

	  See http://linuxbios.org/EHCI_Debug_Port for an up-to-date list.

endmenu

