## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_GETAC

choice
	prompt "Mainboard model"

source "src/mainboard/getac/*/Kconfig.name"

endchoice

source "src/mainboard/getac/*/Kconfig"

config MAINBOARD_VENDOR
	default "Getac"

endif # VENDOR_GETAC
