# SPDX-License-Identifier: GPL-2.0-only

config SUPERIO_ITE_IT8712F
	bool
	select SUPERIO_ITE_COMMON_PRE_RAM
	select SUPERIO_ITE_COMMON_GPIO_PRE_RAM

if SUPERIO_ITE_IT8712F

config SUPERIO_ITE_COMMON_NUM_GPIO_SETS
	default 5

endif
