## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_ASROCK

choice
	prompt "Mainboard model"

source "src/mainboard/asrock/*/Kconfig.name"

endchoice

source "src/mainboard/asrock/*/Kconfig"

config MAINBOARD_VENDOR
	default "ASROCK"

endif # VENDOR_ASROCK
