config SUPERIO_WINBOND_W83627DHG
	boolean
config SUPERIO_WINBOND_W83627EHG
	boolean
config SUPERIO_WINBOND_W83627HF
	boolean
config SUPERIO_WINBOND_W83627THF
	boolean
config SUPERIO_WINBOND_W83627THG
	boolean
config SUPERIO_WINBOND_W83627UHG
	boolean
config SUPERIO_WINBOND_W83697HF
	boolean
config SUPERIO_WINBOND_W83977F
	boolean
config SUPERIO_WINBOND_W83977TF
	boolean
