# SPDX-License-Identifier: GPL-2.0-only
# This file is part of the coreboot project.

# Generic Fintek romstage driver - Just enough UART initialisation code for
# romstage.
config SUPERIO_FINTEK_COMMON_PRE_RAM
	bool
