menu "Mainboard"

choice
	prompt "Mainboard vendor"
	default VENDOR_EMULATION

config VENDOR_ATREND
	bool "A-Trend"
config VENDOR_ABIT
	bool "Abit"
config VENDOR_ADVANTECH
	bool "Advantech"
config VENDOR_AGAMI
	bool "agami"
config VENDOR_AMD
	bool "AMD"
config VENDOR_ARIMA
	bool "Arima"
config VENDOR_ARTEC
	bool "Artec Group"
config VENDOR_ASI
	bool "ASI"
config VENDOR_ASUS
	bool "ASUS"
config VENDOR_AXUS
	bool "AXUS"
config VENDOR_AZZA
	bool "AZZA"
config VENDOR_BCOM
	bool "BCOM"
config VENDOR_BIOSTAR
	bool "Biostar"
config VENDOR_BROADCOM
	bool "Broadcom"
config VENDOR_COMPAQ
	bool "Compaq"
config VENDOR_DELL
	bool "Dell"
config VENDOR_DIGITALLOGIC
	bool "DIGITAL-LOGIC"
config VENDOR_EAGLELION
	bool "EagleLion"
config VENDOR_EMBEDDEDPLANET
	bool "Embedded Planet"
config VENDOR_EMULATION
	bool "Emulation"
config VENDOR_GIGABYTE
	bool "GIGABYTE"
config VENDOR_HP
	bool "HP"
config VENDOR_IBM
	bool "IBM"
config VENDOR_IEI
	bool "IEI"
config VENDOR_INTEL
	bool "Intel"
config VENDOR_IWILL
	bool "IWILL"
config VENDOR_JETWAY
	bool "Jetway"
config VENDOR_KONTRON
	bool "Kontron"
config VENDOR_LIPPERT
	bool "Lippert"
config VENDOR_MOTOROLA
	bool "Motorola"
config VENDOR_MSI
	bool "MSI"
config VENDOR_NEC
	bool "NEC"
config VENDOR_NEWISYS
	bool "Newisys"
config VENDOR_NVIDIA
	bool "NVIDIA"
config VENDOR_OLPC
	bool "OLPC"
config VENDOR_PCENGINES
	bool "PC Engines"
config VENDOR_RCA
	bool "RCA"
config VENDOR_SUNW
	bool "Sun"
config VENDOR_SUPERMICRO
	bool "Supermicro"
config VENDOR_TECHNEXION
	bool "Technexion"
config VENDOR_THOMSON
	bool "Thomson"
config VENDOR_TOTALIMPACT
	bool "Total Impact"
config VENDOR_TYAN
	bool "Tyan"
config VENDOR_VIA
	bool "VIA"

endchoice

config MAINBOARD_VENDOR
	string
	default "Emulation"
	depends on VENDOR_EMULATION

config MAINBOARD_VENDOR
	string
	default "Kontron"
	depends on VENDOR_KONTRON

config MAINBOARD_VENDOR
	string
	default "VIA"
	depends on VENDOR_VIA

config MAINBOARD_VENDOR
	string
	default "AMD"
	depends on VENDOR_AMD

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x1019
	depends on VENDOR_VIA

source "src/mainboard/a-trend/Kconfig"
source "src/mainboard/abit/Kconfig"
source "src/mainboard/advantech/Kconfig"
source "src/mainboard/amd/Kconfig"
source "src/mainboard/arima/Kconfig"
source "src/mainboard/artecgroup/Kconfig"
source "src/mainboard/asi/Kconfig"
source "src/mainboard/asus/Kconfig"
source "src/mainboard/axus/Kconfig"
source "src/mainboard/azza/Kconfig"
source "src/mainboard/bcom/Kconfig"
source "src/mainboard/biostar/Kconfig"
source "src/mainboard/broadcom/Kconfig"
source "src/mainboard/compaq/Kconfig"
source "src/mainboard/dell/Kconfig"
source "src/mainboard/digitallogic/Kconfig"
source "src/mainboard/eaglelion/Kconfig"
source "src/mainboard/embeddedplanet/Kconfig"
source "src/mainboard/emulation/Kconfig"
source "src/mainboard/gigabyte/Kconfig"
source "src/mainboard/hp/Kconfig"
source "src/mainboard/ibm/Kconfig"
source "src/mainboard/iei/Kconfig"
source "src/mainboard/intel/Kconfig"
source "src/mainboard/iwill/Kconfig"
source "src/mainboard/jetway/Kconfig"
source "src/mainboard/kontron/Kconfig"
source "src/mainboard/lippert/Kconfig"
source "src/mainboard/motorola/Kconfig"
source "src/mainboard/msi/Kconfig"
source "src/mainboard/nec/Kconfig"
source "src/mainboard/newisys/Kconfig"
source "src/mainboard/nvidia/Kconfig"
source "src/mainboard/olpc/Kconfig"
source "src/mainboard/pcengines/Kconfig"
source "src/mainboard/rca/Kconfig"
source "src/mainboard/sunw/Kconfig"
source "src/mainboard/supermicro/Kconfig"
source "src/mainboard/technexion/Kconfig"
source "src/mainboard/technologic/Kconfig"
source "src/mainboard/televideo/Kconfig"
source "src/mainboard/thomson/Kconfig"
source "src/mainboard/totalimpact/Kconfig"
source "src/mainboard/tyan/Kconfig"
source "src/mainboard/via/Kconfig"

choice
	prompt "ROM chip size"
	default COREBOOT_ROMSIZE_KB_256

config COREBOOT_ROMSIZE_KB_128
	bool "128 KB"
	help
	  Choose this option if you have a 128 KB ROM chip.

config COREBOOT_ROMSIZE_KB_256
	bool "256 KB"
	help
	  Choose this option if you have a 256 KB ROM chip.

config COREBOOT_ROMSIZE_KB_512
	bool "512 KB"
	help
	  Choose this option if you have a 512 KB ROM chip.

config COREBOOT_ROMSIZE_KB_1024
	bool "1024 KB (1 MB)"
	help
	  Choose this option if you have a 1024 KB (1 MB) ROM chip.

config COREBOOT_ROMSIZE_KB_2048
	bool "2048 KB (2 MB)"
	help
	  Choose this option if you have a 2048 KB (2 MB) ROM chip.

config COREBOOT_ROMSIZE_KB_4096
	bool "4096 KB (4 MB)"
	help
	  Choose this option if you have a 4096 KB (4 MB) ROM chip.

endchoice

config COREBOOT_ROMSIZE_KB
	int
	default 128 if COREBOOT_ROMSIZE_KB_128
	default 256 if COREBOOT_ROMSIZE_KB_256
	default 512 if COREBOOT_ROMSIZE_KB_512
	default 1024 if COREBOOT_ROMSIZE_KB_1024
	default 2048 if COREBOOT_ROMSIZE_KB_2048
	default 4096 if COREBOOT_ROMSIZE_KB_4096
	help
	  Map the config names to an integer.

endmenu

