config CPU_TI_AM335X
	bool

if CPU_TI_AM335X

config SOCKET_SPECIFIC_OPTIONS # dummy
	def_bool y
	select HAVE_MONOTONIC_TIMER
	select HAVE_UART_SPECIAL
	select DEFAULT_EARLY_CONSOLE

config BOOTBLOCK_CPU_INIT
	string
	default "cpu/ti/am335x/bootblock.c"
	help
	  CPU/SoC-specific bootblock code. This is useful if the
	  bootblock must load microcode or copy data from ROM before
	  searching for the bootblock.

config BOOTBLOCK_BASE
	hex
	default 0x402f0400

# Stack may reside in either IRAM or DRAM. We will define it to live
# at the top of IRAM for now.
#
# Stack grows downward, push operation stores register contents in
# consecutive memory locations ending just below SP
config STACK_TOP
	hex
	default 0x4030ce00

config STACK_BOTTOM
	hex
	default 0x4030be00

config STACK_SIZE
	hex
	default 0x1000

config CBFS_ROM_OFFSET
	# Calculated by BL1 + max bootblock size.
	hex "offset of CBFS data in ROM"
	default 0x2800

## TODO Change this to some better address not overlapping bootblock when
## cbfstool supports creating header in arbitrary location.
config CBFS_HEADER_ROM_OFFSET
	hex "offset of master CBFS header in ROM"
	default 0x40

config SYS_SDRAM_BASE
	hex
	default 0x40000000

# FIXME: this can probably be smaller
config COREBOOT_TABLES_SIZE
	hex
	default 0x800

endif # CPU_TI_AM335X
