if BOARD_RODA_RK886EX

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_INTEL_SOCKET_MFCPGA478
	select NORTHBRIDGE_INTEL_I945
	select NORTHBRIDGE_INTEL_SUBTYPE_I945GM
	select SOUTHBRIDGE_INTEL_I82801GX
	select SOUTHBRIDGE_TI_PCI7420
	select SUPERIO_SMSC_LPC47N227
	select SUPERIO_RENESAS_M3885X
	select EC_ACPI
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select BOARD_ROMSIZE_KB_1024
	select CHANNEL_XOR_RANDOMIZATION
	select GFXUMA
	select RTL8168_ROM_DISABLE

config MAINBOARD_DIR
	string
	default roda/rk886ex

config MAINBOARD_PART_NUMBER
	string
	default "RK886EX"

config MMCONF_BASE_ADDRESS
	hex
	default 0xf0000000

config IRQ_SLOT_COUNT
	int
	default 18

config MAX_CPUS
	int
	default 4

config MAXIMUM_SUPPORTED_FREQUENCY
	int
	default 400

endif # BOARD_RODA_RK886EX
