if BOARD_FSC_TX200S3

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_INTEL_SOCKET_LGA771
	select SOUTHBRIDGE_INTEL_I3100
	select NORTHBRIDGE_INTEL_I5000
	select SUPERIO_SMSC_SMSCSUPERIO
	select MMCONF_SUPPORT
	select BOARD_ROMSIZE_KB_512
	select HAVE_MP_TABLE
	select HAVE_PIRQ_TABLE
	select IPMI_KCS
	select DRIVERS_GENERIC_IOAPIC

config MAINBOARD_DIR
	string
	default fsc/tx200s3

config DCACHE_RAM_BASE
	hex
	default 0xffdf8000

config DCACHE_RAM_SIZE
	hex
	default 0x8000

config MAINBOARD_PART_NUMBER
	string
	default "TX200 S3"

config MMCONF_BASE_ADDRESS
	hex
	default 0xe0000000

config IRQ_SLOT_COUNT
	int
	default 48

config MAX_CPUS
	int
	default 8

endif
