##
## This file is part of the coreboot project.
##
## Copyright (C) 2018 Angel Pons <th3fanbus@gmail.com>
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_ASUS_P8H61_M_PRO

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select ARCH_X86
	select BOARD_ROMSIZE_KB_4096
	select CPU_INTEL_SOCKET_LGA1155
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select NORTHBRIDGE_INTEL_IVYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_BD82X6X
	select USE_NATIVE_RAMINIT
	select SUPERIO_NUVOTON_NCT6776
	select MAINBOARD_HAS_LIBGFXINIT
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select DRIVERS_ASMEDIA_ASPM_BLACKLIST

config HAVE_IFD_BIN
	bool
	default n

config MAINBOARD_DIR
	string
	default asus/p8h61-m_pro

config MAINBOARD_PART_NUMBER
	string
	default "P8H61-M PRO"

config VGA_BIOS_FILE
	string
	default "pci8086,0152.rom"

config VGA_BIOS_ID
	string
	default "8086,0152"

config MAINBOARD_PCI_SUBSYSTEM_DEVICE_ID
	hex
	default 0x844d

config MAINBOARD_PCI_SUBSYSTEM_VENDOR_ID
	hex
	default 0x1043

config MAX_CPUS
	int
	default 8

endif # BOARD_ASUS_P8H61_M_PRO
