config ARCH_BOOTBLOCK_ARMV8_64
	def_bool n
	select ARCH_BOOTBLOCK_ARM64

config ARCH_VERSTAGE_ARMV8_64
	def_bool n
	select ARCH_VERSTAGE_ARM64

config ARCH_ROMSTAGE_ARMV8_64
	def_bool n
	select ARCH_ROMSTAGE_ARM64

config ARCH_RAMSTAGE_ARMV8_64
	def_bool n
	select ARCH_RAMSTAGE_ARM64
