if BOARD_SUPERMICRO_X6DHE_G

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_INTEL_SOCKET_MPGA604
	select NORTHBRIDGE_INTEL_E7520
	select SOUTHBRIDGE_INTEL_ESB6300
	select SOUTHBRIDGE_INTEL_PXHD
	select SUPERIO_WINBOND_W83627HF
	select ROMCC
	select HAVE_HARD_RESET
	select HAVE_OPTION_TABLE
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
	select BOARD_ROMSIZE_KB_1024
	select DRIVERS_GENERIC_DEBUG

config MAINBOARD_DIR
	string
	default supermicro/x6dhe_g

config MAINBOARD_PART_NUMBER
	string
	default "X6DHE-G"

config MAX_CPUS
	int
	default 4

config IRQ_SLOT_COUNT
	int
	default 15

endif # BOARD_SUPERMICRO_X6DHE_G
