config CPU_VIA_C7
	bool

if CPU_VIA_C7

config CPU_SPECIFIC_OPTIONS
	def_bool y
	select UDELAY_TSC
	select MMX
	select SSE2
	select CACHE_AS_RAM

config DCACHE_RAM_BASE
	hex
	default 0xffef0000

config DCACHE_RAM_SIZE
	hex
	default 0x8000

endif # CPU_VIA_C7
