## SPDX-License-Identifier: GPL-2.0-only

if BOARD_HP_PRODESK_600_G1_SFF

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select BOARD_ROMSIZE_KB_16384
	select CPU_INTEL_HASWELL
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_HAS_TPM1
	select MAINBOARD_USES_IFD_GBE_REGION
	select MEMORY_MAPPED_TPM
	select NORTHBRIDGE_INTEL_HASWELL
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT
	select SUPERIO_NUVOTON_NPCD378

config MAINBOARD_DIR
	default "hp/prodesk_600_g1_sff"

config MAINBOARD_PART_NUMBER
	default "ProDesk 600 G1 SFF"

config USBDEBUG_HCD_INDEX # FIXME: check this
	default 2

endif
