config BOARD_GOOGLE_BASEBOARD_DELTAUR
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_I2C_GENERIC
	select DRIVERS_I2C_HID
	select DRIVERS_INTEL_ISH
	select DRIVERS_SPI_ACPI
	select DRIVERS_USB_ACPI
	select EC_GOOGLE_WILCO
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_CHROMEOS
	select MAINBOARD_HAS_I2C_TPM_CR50
	select MAINBOARD_HAS_TPM2
	select MAINBOARD_USES_IFD_EC_REGION
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_TIGERLAKE
	select SYSTEM_TYPE_LAPTOP

config BOARD_GOOGLE_DELTAN
	select BOARD_GOOGLE_BASEBOARD_DELTAUR
	select MAINBOARD_USES_IFD_GBE_REGION

config BOARD_GOOGLE_DELTAUR
	select BOARD_GOOGLE_BASEBOARD_DELTAUR

if BOARD_GOOGLE_BASEBOARD_DELTAUR

config IGNORE_IASL_MISSING_DEPENDENCY
	def_bool y

config CHROMEOS
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_FORCE_DEV_BOOT_ALTFW
	select GBB_FLAG_FORCE_DEV_BOOT_USB
	select GBB_FLAG_FORCE_DEV_SWITCH_ON

config DEVICETREE
	default "variants/baseboard/devicetree.cb"

config DRIVER_TPM_I2C_BUS
	hex
	default 0x3

config DRIVER_TPM_I2C_ADDR
	hex
	default 0x50

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/chromeos-gbe.fmd" if BOARD_GOOGLE_DELTAN
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/chromeos.fmd" if BOARD_GOOGLE_DELTAUR

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config POWER_OFF_ON_CR50_UPDATE
	bool
	default n

config MAINBOARD_DIR
	default "google/deltaur"

config MAINBOARD_FAMILY
	string
	default "Google_Deltaur"

config MAINBOARD_PART_NUMBER
	default "Deltan" if BOARD_GOOGLE_DELTAN
	default "Deltaur" if BOARD_GOOGLE_DELTAUR

config TPM_TIS_ACPI_INTERRUPT
	int
	default 23  # GPE0_DW0_23 (GPP_C23)

config UART_FOR_CONSOLE
	int
	default 2

config VARIANT_DIR
	default "deltan" if BOARD_GOOGLE_DELTAN
	default "deltaur" if BOARD_GOOGLE_DELTAUR

config VBOOT
	select HAS_RECOVERY_MRC_CACHE
	select VBOOT_LID_SWITCH

endif # BOARD_GOOGLE_BASEBOARD_DELTAUR
