if VENDOR_INTEL

choice
	prompt "Mainboard model"

source "src/mainboard/intel/*/Kconfig.name"

endchoice

source "src/mainboard/intel/*/Kconfig"

config MAINBOARD_VENDOR
	default "Intel"

endif # VENDOR_INTEL
