# SPDX-License-Identifier: GPL-2.0-only

if BOARD_OCP_SONORAPASS

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_65536
	select MAINBOARD_USES_FSP2_0
	select IPMI_KCS
	select SOC_INTEL_COOPERLAKE_SP
	select SUPERIO_ASPEED_AST2400
	select HAVE_ACPI_TABLES

config MAINBOARD_DIR
	string
	default "ocp/sonorapass"

config MAINBOARD_PART_NUMBER
	string
	default "SonoraPass"

config MAINBOARD_FAMILY
	string
	default "SonoraPass"

config FMDFILE
	string
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

endif
