config DRIVERS_OXFORD_OXPCIE
	bool "Oxford OXPCIe952"
	default n
	depends on PCI
	select HAVE_UART_MEMORY_MAPPED
	select EARLY_PCI_BRIDGE
	help
	  Support for Oxford OXPCIe952 serial port PCIe cards.
	  Currently only devices with the vendor ID 0x1415 and device ID
	  0xc158 or 0xc11b will work.
