comment "Star Labs ADL Series"

config BOARD_STARLABS_ADL_HORIZON
	bool "Star Labs StarBook Horizon (N305)"

config BOARD_STARLABS_BYTE_ADL
	bool "Star Labs Byte Mk II (N200)"

config BOARD_STARLABS_BYTE_TWL
	bool "Star Labs Byte Mk III (N355)"

config BOARD_STARLABS_LITE_ADL
	bool "Star Labs Lite Mk V (N200/N350)"
