## SPDX-License-Identifier: GPL-2.0-only

if BOARD_INTEL_DQ67SW

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select AZALIA_USE_LEGACY_VERB_TABLE
	select BOARD_ROMSIZE_KB_8192
	select GFX_GMA_ANALOG_I2C_HDMI_B
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_BD82X6X
	select SUPERIO_WINBOND_W83667HG_A
	select USE_NATIVE_RAMINIT

config MAINBOARD_DIR
	default "intel/dq67sw"

config MAINBOARD_PART_NUMBER
	default "DQ67SW"

endif
