comment "Brya"

config BOARD_GOOGLE_BRYA0
	bool "->  Brya 0"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_GENESYSLOGIC_GL9755
	select DRIVERS_INTEL_MIPI_CAMERA
	select HAVE_WWAN_POWER_SEQUENCE
	select SOC_INTEL_COMMON_BLOCK_IPU
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES

config BOARD_GOOGLE_BRASK
	bool "->  Brask"
	select BOARD_GOOGLE_BASEBOARD_BRASK
	select DRIVERS_GENESYSLOGIC_GL9755
	select SOC_INTEL_CRASHLOG
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES

config BOARD_GOOGLE_PRIMUS
	bool "->  Primus"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_GENESYSLOGIC_GL9755
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select HAVE_WWAN_POWER_SEQUENCE

config BOARD_GOOGLE_GIMBLE
	bool "->  Gimble"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select CHROMEOS_DSM_CALIB if CHROMEOS
	select CHROMEOS_DSM_PARAM_FILE_NAME if CHROMEOS
	select DRIVERS_I2C_MAX98390

config BOARD_GOOGLE_REDRIX
	bool "->  Redrix"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select CHROMEOS_DSM_CALIB if CHROMEOS
	select CHROMEOS_DSM_PARAM_FILE_NAME if CHROMEOS
	select DRIVERS_I2C_MAX98390
	select DRIVERS_INTEL_MIPI_CAMERA
	select EC_GOOGLE_CHROMEEC_INCLUDE_SSFC_IN_FW_CONFIG
	select SOC_INTEL_COMMON_BLOCK_IPU
	select DRIVERS_GENESYSLOGIC_GL9755
	select DRIVERS_GFX_GENERIC
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select HAVE_WWAN_POWER_SEQUENCE

config BOARD_GOOGLE_KANO
	bool "->  Kano"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_I2C_MAX98373
	select DRIVERS_I2C_NAU8825
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select DRIVERS_INTEL_MIPI_CAMERA
	select SOC_INTEL_COMMON_BLOCK_IPU

config BOARD_GOOGLE_TAEKO
	bool "->  Taeko"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_GENESYSLOGIC_GL9763E

config BOARD_GOOGLE_FELWINTER
	bool "->  Felwinter"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_GENERIC_GPIO_KEYS

config BOARD_GOOGLE_ANAHERA
	bool "->  Anahera"
	select BOARD_GOOGLE_BASEBOARD_BRYA
	select DRIVERS_GENESYSLOGIC_GL9763E
	select DRIVERS_GFX_GENERIC
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES

config BOARD_GOOGLE_VELL
	bool "->  Vell"
	select BOARD_GOOGLE_BASEBOARD_BRYA
