comment "Oak"

config BOARD_GOOGLE_OAK
	bool "->  Oak"
	select BOARD_GOOGLE_OAK_COMMON

config BOARD_GOOGLE_ELM
	bool "->  Elm (Acer Chromebook R13)"
	select BOARD_GOOGLE_OAK_COMMON

config BOARD_GOOGLE_HANA
	bool "->  Hana (Lenovo N23 Yoga Chromebook)"
	select BOARD_GOOGLE_OAK_COMMON

config BOARD_GOOGLE_ROWAN
	bool "->  Rowan"
	select BOARD_GOOGLE_OAK_COMMON
