#
# This file is part of the coreboot project.
#
# Copyright (C) 2014 Imagination Technologies
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; version 2 of
# the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
# MA 02110-1301 USA
#

config CPU_IMGTEC_PISTACHIO
	select CPU_MIPS
	select DYNAMIC_CBMEM
	select GENERIC_UDELAY
	select HAVE_MONOTONIC_TIMER
	select HAVE_UART_MEMORY_MAPPED
	select HAVE_UART_SPECIAL
	select SPI_ATOMIC_SEQUENCING
	bool

if CPU_IMGTEC_PISTACHIO

config BOOTBLOCK_CPU_INIT
	string
	default "soc/imgtec/pistachio/bootblock.c"

config BOOTBLOCK_BASE
	hex
	default 0x9b000000

config CBFS_ROM_OFFSET
	hex
	default 0x4100

config CBFS_HEADER_ROM_OFFSET
	# Effectively the maximum size of the bootblock
	hex
	default 0x4000

config ROMSTAGE_BASE
	hex
	default 0x9b004000
	help
	  The address where romstage is supposed to be loaded, right above the
	  bootblock.

config CBMEM_CONSOLE_PRERAM_BASE
        hex "memory address of the CBMEM console buffer"
        default 0x9b00f800
	help
	  Allocate 4KB to the pre-ram console buffer, we should be able to use
	  GRAM eventually and have a much larger buffer.

config BOOTBLOCK_STACK_BOTTOM
	hex
	default 0x9b00e000
	help
	  This allocates 6KB of stack space. One needs to verify that this is
	  sufficient.

config BOOTBLOCK_STACK_TOP
	hex
	default CBMEM_CONSOLE_PRERAM_BASE
	help
	  Bootblock stack starts immediately under the CBMEM console buffer,
	  stack location might be changed by romstage.
endif
