if VENDOR_TRAVERSE

choice
	prompt "Mainboard model"

source "src/mainboard/traverse/*/Kconfig.name"

endchoice

source "src/mainboard/traverse/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Traverse Technologies"

endif # VENDOR_TRAVERSE
