## SPDX-License-Identifier: GPL-2.0-only

config BOARD_DELL_GM45_LATITUDE_COMMON
	def_bool n
	select AZALIA_USE_LEGACY_VERB_TABLE
	select SYSTEM_TYPE_LAPTOP
	select CPU_INTEL_SOCKET_P
	select NORTHBRIDGE_INTEL_GM45
	select SOUTHBRIDGE_INTEL_I82801IX
	select BOARD_ROMSIZE_KB_4096
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select HAVE_ACPI_RESUME
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select INTEL_GMA_HAVE_VBT
	select EC_DELL_MEC5035

config BOARD_DELL_E6400
	select BOARD_DELL_GM45_LATITUDE_COMMON

if BOARD_DELL_GM45_LATITUDE_COMMON

config MAINBOARD_DIR
	default "dell/gm45_latitude"

config MAINBOARD_PART_NUMBER
	default "Latitude E6400" if BOARD_DELL_E6400

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config VARIANT_DIR
	default "e6400" if BOARD_DELL_E6400

config USBDEBUG_HCD_INDEX
	default 1

config CBFS_SIZE
	default 0x1A0000

endif # BOARD_DELL_GM45_LATITUDE_COMMON
