## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASUS_B85M_E

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select MEMORY_MAPPED_TPM
	select NORTHBRIDGE_INTEL_HASWELL
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT
	select SUPERIO_NUVOTON_COMMON_COM_A
	select SUPERIO_NUVOTON_NCT6791D

config CBFS_SIZE
	default 0xB00000

config MAINBOARD_DIR
	default "asus/b85m-e"

config MAINBOARD_PART_NUMBER
	default "B85M-E"

config USBDEBUG_HCD_INDEX
	default 2	# Rear:		LAN_USB910 (bottom)
			# Header:	USB3_12
endif
