config BOARD_CLEVO_CMLU_COMMON
	def_bool n
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_I2C_HID
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_LIBGFXINIT
	select MEMORY_MAPPED_TPM
	select MAINBOARD_HAS_TPM2
	select NO_UART_ON_SUPERIO
	select SOC_INTEL_COMETLAKE_1
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SPD_READ_BY_WORD
	select SYSTEM_TYPE_LAPTOP

config BOARD_CLEVO_L140CU_BASE
	bool
	select BOARD_CLEVO_CMLU_COMMON
	select EC_SYSTEM76_EC
	select HAVE_SPD_IN_CBFS

if BOARD_CLEVO_CMLU_COMMON

config MAINBOARD_DIR
	default "clevo/cml-u"

config MAINBOARD_PART_NUMBER
	default "L140CU" if BOARD_CLEVO_L140CU

config MAINBOARD_VERSION
	string
	default "2.1A" if BOARD_CLEVO_L140CU_BASE

config DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/devicetree.cb"

config CBFS_SIZE
	default 0xc00000 if BOARD_CLEVO_L140CU_BASE

config CONSOLE_POST
	bool
	default y

config UART_FOR_CONSOLE
	int
	default 2

config DIMM_MAX
	default 2 if BOARD_CLEVO_L140CU_BASE

config VGA_BIOS_ID
	string
	default "8086,9b41"

config TPM_PIRQ
	hex
	default 0x10 if BOARD_CLEVO_L140CU_BASE # GPP_A7/PIRQA#

config POST_DEVICE
	bool
	default n

config VARIANT_DIR
	default "l140cu" if BOARD_CLEVO_L140CU_BASE

config SEABIOS_PS2_TIMEOUT
	int
	depends on PAYLOAD_SEABIOS
	default 500

config EC_SYSTEM76_EC_BAT_THRESHOLDS
	default n if BOARD_CLEVO_L140CU_BASE

endif
