if BOARD_SUPERMICRO_X7DB8

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select ARCH_X86
	select CPU_INTEL_SOCKET_LGA771
	select SOUTHBRIDGE_INTEL_I3100
	select NORTHBRIDGE_INTEL_I5000
	select SUPERIO_WINBOND_W83627HF
	select BOARD_ROMSIZE_KB_512
	select HAVE_PIRQ_TABLE
	select DRIVERS_I2C_W83793
	select DRIVERS_GENERIC_IOAPIC

config MAINBOARD_DIR
	string
	default supermicro/x7db8

config DCACHE_RAM_BASE
	hex
	default 0xffdf8000

config DCACHE_RAM_SIZE
	hex
	default 0x8000

config MAINBOARD_PART_NUMBER
	string
	default "X7DB8 / X7DB8+"

config MMCONF_BASE_ADDRESS
	hex
	default 0xe0000000

config IRQ_SLOT_COUNT
	int
	default 48

config MAX_CPUS
	int
	default 8

endif
