config SOC_MEDIATEK_MT8188
	bool
	default n
	select ARCH_BOOTBLOCK_ARMV8_64
	select ARCH_VERSTAGE_ARMV8_64
	select ARCH_ROMSTAGE_ARMV8_64
	select ARCH_RAMSTAGE_ARMV8_64
	select HAVE_UART_SPECIAL
	select SOC_MEDIATEK_COMMON
	select FLASH_DUAL_IO_READ

if SOC_MEDIATEK_MT8188

config VBOOT
	select VBOOT_MUST_REQUEST_DISPLAY
	select VBOOT_STARTS_IN_BOOTBLOCK
	select VBOOT_SEPARATE_VERSTAGE
	select VBOOT_RETURN_FROM_VERSTAGE

config MCUPM_FIRMWARE
	string
	default "mcupm.bin"
	help
	  The file name of the MediaTek MCUPM firmware.

endif
